<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin">
	<resultMap type="com.kh.duri.admin.model.vo.adminMember" id="adminMemberResultSet">
		<id property="mno" column="MNO"></id>
		<result property="mName" column="MNAME"/>
		<result property="mNick" column="MNICK"/>
		<result property="mGender" column="MGENDER"/>
		<result property="mPhone" column="MPHONE"/>
		<result property="mid" column="MID"/>
		<result property="mpwd" column="MPWD"/>
		<result property="memail" column="MEMAIL"/>
		<result property="mEnrollDate" column="MENROLLDATE"/>
		<result property="mPoint" column="MPOINT"/>
		<result property="mtype" column="MTYPE"/>
		<result property="mFundtype" column="MFUNDTYPE"/>
		<result property="mpr" column="MPR"/>
		<result property="mprNew" column="MPRNEW"/>
		<result property="mBirthDay" column="MBIRTHDAY"/>
		<result property="mAddress" column="MADDRESS"/>
		<result property="mAcceptDate" column="MACCEPTDATE"/>
		<result property="mprAcceptDate" column="MPRACCEPTDATE"/>
		<result property="mGoalNum" column="MGOALNUM"/>
		<result property="mStatus" column="MSTATUS"/>
		<result property="mTakeStatus" column="MTAKESTATUS"/>
		
		
	</resultMap>
	
	<resultMap type="com.kh.duri.admin.model.vo.Donatelist" id="donateResultSet">
		<id property="drNo" column="DRNO"></id>
		<result property="drApplyDate" column="DRAPPLYDATE"/>
		<result property="drDonateDate" column="DRDONATEDATE"/>
		<result property="drValue" column="DRVALUE"/>
		<result property="dr_mNo" column="MNAME"/>
		<result property="dr_mid" column="MID"/>
		<result property="dr_mPhone" column="MPHONE"/>
	</resultMap>
	
	
	
	
	<!-- ***************나눔두리 관련 쿼리********************** -->
	
	<!-- 나눔두리 전체목록 조회 -->
	<select id="adminNanumList" resultMap="adminMemberResultSet" parameterType="adminMember" >
		SELECT MNO,MID,MNAME,MNICK,MGENDER,MEMAIL,MGOALNUM 
		FROM MEMBER 
		WHERE MTYPE='N' AND MSTATUS='Y' ORDER BY MENROLLDATE 
	</select>
	<!-- 나눔두리 기부영수증 목록 조회 -->
	<select id="adminDonateList" resultMap="donateResultSet" parameterType="Donatelist" >
		SELECT M.MID,M.MNAME,M.MPHONE,D.DRAPPLYDATE,D.DRVALUE,D.DRDONATEDATE 
		FROM MEMBER M JOIN DONATERECEIPT D ON (M.MNO=D.DR_MNO) ORDER BY D.DRAPPLYDATE 
	</select>
	<!-- 나눔두리 상세목록 조회(기본정보) -->
	<select id="adminNanumDetail" resultType="adminMember" parameterType="adminMember" >
		SELECT M.MNO,M.MNICK,M.MNAME,M.MID,M.MGENDER,M.MPHONE,M.MEMAIL,M.MGOALNUM, (SELECT SUM(PVALUE) FROM POINT WHERE P_MNO=M.MNO ) AS PVALUE 
		FROM MEMBER M WHERE M.MNO=#{mno}
	</select>
	<!-- 나눔두리 상세목록 정기후원 리스트 -->
	<select id="adminNanumDetaildirectList" resultType="adminDirectList" parameterType="adminDirectList" >
		SELECT M.MID, M.MFUNDTYPE,DH.DHSTARTDATE,DH.DHSTATUS,DH.DHVALUE,MAX(DHD.DHDCOUNT) AS CNT,SUM(DH.DHVALUE) AS SUM
		FROM DIRECTFUNDHISTORY DH JOIN DIRECTFUNDHISTORYDETAIL DHD ON (DH.DHNO=DHD.DHD_DHNO)
		JOIN MEMBER M ON(DH.DH_MNO_TAKE=M.MNO) 
		WHERE DH.DH_MNO_GIVE =#{dh_Mno_give} GROUP BY M.MID, DH.DHNO, M.MFUNDTYPE, DH.DHSTARTDATE, DH.DHVALUE, DH.DHSTATUS
		ORDER BY DH.DHSTATUS DESC
	</select>
	<!-- 나눔두리 상세목록 크라우드 금액 펀딩 리스트-->
	<select id="adminNanumDetailfundingMoneyList" resultType="adminFundingHistoryList" parameterType="adminFundingHistoryList" >
		SELECT M.MID, M.MFUNDTYPE,F.FTITLE,F.FSTARTDATE,F.FENDDATE,FH.FHVALUE,FH.FHDATE,F.FSTATUS
		FROM FUNDING F JOIN FUNDHISTORY FH ON(F.FNO=FH.FH_FNO)
		JOIN MEMBER M ON(F.FWRITER=M.MNO) 
		WHERE FH.FH_MNO_GIVE=#{fh_Mno_Give} AND F.FTYPE='MONEY' ORDER BY FH.FHDATE DESC
	</select>
	<!-- 나눔두리 상세목록 크라우드 물품 펀딩 리스트-->
	<select id="adminNanumDetailfundingGoodsList" resultType="adminFundingHistoryList" parameterType="adminFundingHistoryList" >
		SELECT M.MID, M.MFUNDTYPE,F.FTITLE,F.FSTARTDATE,F.FENDDATE,F.FSTATUS,FHD.FHDITEMVALUE,FI.INAME,FH.FHDATE
		FROM FUNDING F 
		JOIN FUNDHISTORY FH ON(F.FNO=FH.FH_FNO)
		JOIN MEMBER M ON(F.FWRITER=M.MNO) 
		JOIN FUNDHISTORYDETAIL FHD ON(FHD.FHD_FHNO=FH.FHNO)
		JOIN FUNDITEM FI ON (FI.INO=FHD.FHD_INO)
		WHERE FH.FH_MNO_GIVE=#{fh_Mno_Give} AND F.FTYPE='ITEM' ORDER BY FH.FHDATE DESC
	</select>
	
	
	<!-- ***************행복두리 관련 쿼리********************** -->
	
	<!-- 행복두리 전체목록 조회 -->
	<select id="adminHappyList" resultMap="adminMemberResultSet" parameterType="adminMember" >
		SELECT MNO,MID,MNICK,MGENDER,MEMAIL,MFUNDTYPE,MNAME,MTAKESTATUS
		FROM MEMBER 
		WHERE MTYPE='H' AND MSTATUS='Y' AND MTAKESTATUS =1 ORDER BY MACCEPTDATE
	</select>
	<!-- 행복두리 [기존회원(1)/신규회원(3)] 상세페이지 (공통페이지)-->
	<select id="adminHappyDetail" resultType="adminMember" parameterType="adminMember" >
		SELECT M.MNO,M.MTAKESTATUS,M.MNICK,M.MPR,M.MBIRTHDAY,M.MNAME,M.MID,M.MGENDER,M.MPHONE,M.MEMAIL,
		M.MADDRESS,M.MFUNDTYPE,M.MACCEPTDATE,A.ADATE,A.ASTATUS,M.MPRACCEPTDATE,A.ACHANGENAME,A.AFILEPATH
		FROM MEMBER M JOIN ATTACHMENT A ON (A.A_MNO=M.MNO) AND A.ATYPE='R' 
		WHERE M.MNO=#{mno} AND M.MTAKESTATUS =#{mTakeStatus}
	 <if test="mTakeStatus==1">
			AND A.ADATE IS NOT NULL
	 </if>
	 <if test="mTakeStatus==3">
			AND A.ACHANGENAME!='EMPTY' 
	 </if>
	</select>
	<!-- 행복두리 승인페이지- 신규목록 -->
	<select id="adminHappyNewList" resultMap="adminMemberResultSet" parameterType="adminMember" >
		SELECT MNO,MID,MNICK,MGENDER,MEMAIL,MFUNDTYPE,MNAME,MTAKESTATUS
		FROM MEMBER 
		WHERE MTYPE='H' AND MSTATUS='Y' AND MTAKESTATUS =3 ORDER BY MENROLLDATE
	</select>
	
	
	
	
	<!-- ***************크라우드 펀딩 관련 쿼리********************** -->
	<!-- 크라우드 금액 펀딩 승인목록 -->
	<select id="adminMoneyCrowdList" resultType="adminFundingList" parameterType="adminFundingList" >
		SELECT F.FNO,F.FWRITER,F.FTITLE,F.FWRITEDATE,M.MID,M.MFUNDTYPE,F.FVALUETYPE,F.FVALUE 
		FROM FUNDING F JOIN MEMBER M ON (F.FWRITER=M.MNO) 
		WHERE F.FSTATUS='YET' AND F.FTYPE='MONEY' ORDER BY F.FWRITEDATE
	</select>
	<!-- 크라우드 물품 펀딩 승인목록 -->
	<select id="adminGoodsFundingList" resultType="adminFundingList" parameterType="adminFundingList" >
		SELECT DISTINCT F.FNO,F.FTITLE,F.FWRITER,F.FWRITEDATE,M.MID,M.MFUNDTYPE,
		(SELECT LISTAGG(CAST(FA2.INAME as varchar2(15)),',') WITHIN GROUP (ORDER BY FD_FNO)
		FROM FUNDINGDETAIL FA1 JOIN FUNDITEM FA2 ON(FA2.INO=FA1.FD_INO) WHERE F.FNO = FD_FNO GROUP BY FD_FNO) AS GOODSNAME
		,(SELECT SUM(FDVALUE) FROM FUNDINGDETAIL WHERE FD_FNO=F.FNO) AS TOTALCOUNT
		FROM FUNDING F JOIN MEMBER M ON (F.FWRITER=M.MNO)
		JOIN FUNDINGDETAIL FD ON (F.FNO=FD.FD_FNO)
		JOIN FUNDITEM FI ON(FI.INO=FD.FD_INO)
		WHERE F.FSTATUS='YET' AND F.FTYPE='ITEM' ORDER BY F.FWRITEDATE 
	</select>
	<!-- 크라우드 펀딩 상세페이지 -회원정보 -->
	<select id="CrowdMemInfoDetail" resultType="adminMember"  >
		SELECT M.MNO,M.MNICK,M.MPR,M.MBIRTHDAY,M.MNAME,M.MID,M.MGENDER,M.MPHONE,M.MEMAIL,M.MADDRESS,M.MFUNDTYPE,M.MACCEPTDATE,A.ADATE,M.MPRACCEPTDATE 
		FROM MEMBER M JOIN ATTACHMENT A ON (A.A_MNO=M.MNO) AND A.ATYPE='R' 
		WHERE  A.ADATE IS NOT NULL AND M.MNO=#{mno}
	</select>
	<!-- 크라우드 펀딩 상세페이지 -펀딩정보(금액)-->
	<select id="CrowdFundInfoDetail" resultType="adminFundingList" parameterType="adminFundingList" >
		SELECT FNO,FTITLE,FVALUETYPE,FVALUE,FWRITEDATE,FLEFTDAY,FCONTENT 
		FROM FUNDING 
		WHERE FSTATUS='YET' AND FTYPE='MONEY' AND FNO=#{fNo} 
	</select>
	<!-- 크라우드 펀딩 상세페이지 -펀딩정보(물품)-->
	<select id="CrowdFundGoodsInfo" resultType="adminFundingList" parameterType="adminFundingList" >
		SELECT F.FNO,F.FTITLE,F.FWRITEDATE,F.FLEFTDAY,F.FCONTENT,FI.INAME,FD.FDVALUE
		FROM FUNDING F JOIN FUNDINGDETAIL FD ON (F.FNO=FD.FD_FNO)
		JOIN FUNDITEM FI ON(FI.INO=FD.FD_INO)
		WHERE F.FSTATUS='YET' AND F.FTYPE='ITEM' AND FNO=#{fNo}
	</select>
	<!-- 크라우드 펀딩 반려 버튼 -->
	<update id="adminCrowdDeny" parameterType="adminFundingList" >
		UPDATE FUNDING 
		SET FSTATUS='DENY' 
		WHERE FNO=#{fNo}
	</update>
	<!-- 크라우드 펀딩 승인 버튼 -->
	<update id="adminCrowdApprove"  parameterType="adminFundingList" >
		UPDATE FUNDING SET FSTATUS='ING',FSTARTDATE=SYSDATE,FENDDATE=SYSDATE + #{fLeftDay}  WHERE FNO=#{fNo}
	</update>
	
	<!-- *****************Q&A관련쿼리********************* -->
	
	<!-- 관리자 행복두리 Q&A 목록 -->
	<select id="adminQnAList" resultType="adminQnA" parameterType="adminQnA" >
		SELECT Q.Q_MNO,Q.QNO,Q.QDATE,Q.QTITLE,Q.QANSWER,M.MID,M.MNAME,M.MNO
		FROM QNA Q JOIN MEMBER M ON(M.MNO=Q.Q_MNO)  
		WHERE QWRITER='H' ORDER BY Q.QANSWER NULLS FIRST,Q.QDATE DESC
	</select>
	<!-- 관리자 행복두리 Q&A 상세보기  -->
	<select id="adminQnADetail" resultType="adminQnA" parameterType="adminQnA" >
		SELECT Q.QNO,Q.Q_MNO,Q.QDATE,Q.QTITLE,Q.QCONTENT,M.MID,M.MNAME,Q.QWRITER,Q.QANSWER
		FROM QNA Q JOIN MEMBER M ON(M.MNO=Q.Q_MNO)  
		WHERE Q.QWRITER='H' AND Q.Q_MNO=#{q_Mno} AND Q.QNO=#{qNo}
	</select>
	<!-- 관리자 Q&A 답변하기 -->
	<update id="adminAnswer" parameterType="adminQnA" >
		UPDATE QNA SET QANSWER=#{qAnswer} WHERE QNO=#{qNo}
	</update>
	
	
	
	
	<!-- 환급 신청 목록 조회 -->
	<!-- <select id="adminRefundList" resultType="RefundList" parameterType="RefundList">
		SELECT M.MID,M.MNAME,R.RNAME,R.RDATE,R.RACCOUNT,R.RBANK,R.RVALUE,R.RSTATUS FROM MEMBER M JOIN REFUND R ON (M.MNO=R.R_MNO) WHERE R.RSTATUS='N' ORDER BY R.RDATE
	</select>
	 -->
	
	
	
</mapper>







