<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin">
	<resultMap type="com.kh.duri.admin.model.vo.adminMember" id="adminMemberResultSet">
		<id property="mno" column="MNO"></id>
		<result property="mName" column="MNAME"/>
		<result property="mNickName" column="MNICK"/>
		<result property="mGender" column="MGENDER"/>
		<result property="mPhone" column="MPHONE"/>
		<result property="mid" column="MID"/>
		<result property="mpwd" column="MPWD"/>
		<result property="email" column="MEMAIL"/>
		<result property="mEnrollDate" column="MENROLLDATE"/>
		<result property="mPoint" column="MPOINT"/>
		<result property="mtype" column="MTYPE"/>
		<result property="mFundtype" column="MFUNDTYPE"/>
		<result property="mpr" column="MPR"/>
		<result property="mprNew" column="MPRNEW"/>
		<result property="mBirthDay" column="MBIRTHDAY"/>
		<result property="mAddress" column="MADDRESS"/>
		<result property="mAcceptDate" column="MACCEPTDATE"/>
		<result property="mPreAcceptDate" column="MPRACCEPTDATE"/>
		<result property="mGoalNum" column="MGOALNUM"/>
		<result property="mStatus" column="MSTATUS"/>
		<result property="mTakeStatus" column="MTAKESTATUS"/>
		<result property="pValue" column="PVALUE"/>
		<result property="p_mNo" column="P_MNO"/>
		<result property="atype" column="ATYPE"/>
		<result property="a_mno" column="A_MNO"/>
		<result property="adate" column="ADATE"/>
		
	</resultMap>
	
	<resultMap type="com.kh.duri.admin.model.vo.Donatelist" id="donateResultSet">
		<id property="drNo" column="DRNO"></id>
		<result property="drRegistNum" column="DRREGISTNUM"/>
		<result property="drApplyDate" column="DRAPPLYDATE"/>
		<result property="drDonateDate" column="DRDONATEDATE"/>
		<result property="drValue" column="DRVALUE"/>
		<result property="dr_mNo" column="MNAME"/>
		<result property="dr_mid" column="MID"/>
		<result property="dr_mPhone" column="MPHONE"/>
	</resultMap>
	
	
	
	
	<!-- 나눔두리 전체목록 조회 -->
	<select id="adminNanumList" resultMap="adminMemberResultSet" parameterType="adminMember" >
		SELECT MNO,MID,MNAME,MNICK,MGENDER,MEMAIL,MGOALNUM FROM MEMBER WHERE MTYPE='N' AND MSTATUS='Y' ORDER BY MENROLLDATE
	</select>
	<!-- 나눔두리 기부영수증 목록 조회 -->
	<select id="adminDonateList" resultMap="donateResultSet" parameterType="Donatelist" >
		SELECT M.MID,M.MNAME,D.DRREGISTNUM,M.MPHONE,D.DRAPPLYDATE,D.DRVALUE,D.DRDONATEDATE FROM MEMBER M JOIN DONATERECEIPT D ON (M.MNO=D.DR_MNO) ORDER BY D.DRAPPLYDATE 
	</select>
	<!-- 행복두리 전체목록 조회 -->
	<select id="adminHappyList" resultMap="adminMemberResultSet" parameterType="adminMember" >
		SELECT MNO,MID,MNICK,MGENDER,MEMAIL,MFUNDTYPE,MPRNEW FROM MEMBER WHERE MTYPE='H' AND MSTATUS='Y' ORDER BY MACCEPTDATE
	
	</select>
	<!-- 나눔두리 상세목록 조회(기본정보) -->
	<select id="adminNanumDetailList" resultMap="adminMemberResultSet" parameterType="adminMember" >
		SELECT M.MNO,M.MNICK,M.MNAME,M.MID,M.MNICK,M.MGENDER,M.MPHONE,M.MEMAIL,M.MGOALNUM, (SELECT SUM(PVALUE) FROM POINT WHERE P_MNO=M.MNO ) AS PVALUE FROM MEMBER M WHERE M.MNO=#{mno}
	</select>
	<!-- 행복두리 상세목록 조회(기존회원-기본정보) -->
	<select id="adminHappyDetailList" resultMap="adminMemberResultSet" parameterType="adminMember" >
		SELECT M.MNO,M.MNICK,M.MNAME,M.MID,M.MGENDER,M.MPHONE,M.MEMAIL,M.MADDRESS,M.MFUNDTYPE,M.MACCEPTDATE,A.ADATE,M.MPRACCEPTDATE FROM MEMBER M JOIN ATTACHMENT A ON (A.A_MNO=M.MNO) AND A.ATYPE='R' WHERE M.MNO=#{mno}
	</select>
	

	
	
	
	
</mapper>







