<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Boards">

	<resultMap type="com.kh.duri.board.model.vo.Board" id="boardResultSet">
	<!-- property=컬럼명, column=필드명    반드시 일치! -->
		<id property="fno" column="FNO"></id>
		<result property="ftype" column="FTYPE"/>
		<result property="fTitle" column="FTITLE"/>
		<result property="fWriter" column="FWRITER"/>
		<result property="fContent" column="FCONTENT"/>
		<result property="fWriteDate" column="FWRITECONTENT"/>
		<result property="fStartDate" column="FSTARTDATE"/>
		<result property="fEndDate" column="FENDDATE"/>
		<result property="fStatus" column="FSTATUS"/>
		<result property="fValue" column="FVALUE"/>
		<result property="fValueType" column="FVALUETYPE"/>
		<result property="fWriter" column="FWRITER"/>

	</resultMap>
	
		<resultMap type="com.kh.duri.board.model.vo.Board" id="boardlistSet">
	<!-- property=컬럼명, column=필드명    반드시 일치! -->
		<id property="fno" column="FNO"></id>
		<result property="rnum" column="RNUM"/>
		<result property="ftype" column="FTYPE"/>
		<result property="fTitle" column="FTITLE"/>
		<result property="fContent" column="FCONTENT"/>
		<result property="fStartDate" column="FSTARTDATE"/>
		<result property="fEndDate" column="FENDDATE"/>
		<result property="fStatus" column="FSTATUS"/>
		<result property="fValue" column="FVALUE"/>
		<result property="fValueType" column="FVALUETYPE"/>
		<result property="mNick" column="MNICK"/>
		<result property="mFundType" column="MFUNDTYPE"/>
		<result property="mAddress" column="MADDRESS"/>
		

	</resultMap>
	
	<resultMap type="com.kh.duri.board.model.vo.BoardItem" id="thingBoardlistSet">
	<!-- property=컬럼명, column=필드명    반드시 일치! -->
		<id property="fno" column="FNO"></id>
		<result property="rnum" column="RNUM"/>
		<result property="fTitle" column="FTITLE"/>
		<result property="fContent" column="FCONTENT"/>
		<result property="fWriterDate" column="FWRITERDATE"/>
		<result property="fStartDate" column="FSTARTDATE"/>
		<result property="fEndDate" column="FENDDATE"/>
		<result property="fStatus" column="FSTATUS"/>
		<result property="fWriter" column="FWRITER"/>
		<result property="iName" column="INAME"/>
		<result property="mNick" column="MNICK"/>
		<result property="mAddress" column="MADDRESS"/>
		<result property="mFundType" column="MFUNDTYPE"/>
		<result property="fdValue" column="FDVALUE"/>
		<result property="fd_ino" column="FD_INO"/>


	</resultMap>
	
	<!-- 금액후원 리스트 갯수 조회 -->
	<select id="selectMoneyListCount" resultType="_int">
		SELECT COUNT(*)
		FROM FUNDING
		WHERE FTYPE='MONEY'
		AND FSTATUS != 'END'
		AND FSTATUS != 'YET' 
	</select>
	
	<!-- 금액후원 리스트 조회 -->
	<select id="selectMoneyList" resultMap="boardlistSet" parameterType="Board">
		SELECT ROWNUM RNUM, FNO, FTITLE,FVALUE, FSTARTDATE, FENDDATE, FCONTENT,FVALUETYPE, FSTATUS, MNICK, MFUNDTYPE, MADDRESS
		FROM( SELECT ROWNUM RNUM,FNO, FTITLE, FVALUE, FSTARTDATE, FENDDATE, FCONTENT,FVALUETYPE, FSTATUS, MNICK, MFUNDTYPE, MADDRESS
     		  FROM (SELECT F.FNO, F.FTITLE, F.FVALUE, F.FSTARTDATE, F.FENDDATE, F.FCONTENT,F.FVALUETYPE, F.FSTATUS, M.MNICK, M.MFUNDTYPE, M.MADDRESS
            		FROM FUNDING F
            		JOIN MEMBER M ON (M.MNO = F.FWRITER)
            		WHERE F.FTYPE='MONEY'
            		AND FSTATUS != 'END'
					AND FSTATUS != 'YET' 
            		ORDER BY F.FNO))
	</select>
	
	<!-- 금액후원 상세보기 조회 -->
	<select id="selectMoneyDetail" resultMap="boardlistSet" parameterType="Board">
		SELECT *
		FROM FUNDING F
		JOIN MEMBER M ON (M.MNO = F.FWRITER)
		WHERE F.FNO = #{fno}
	</select>
	
	<!-- 물품후원 게시글 갯수 조회 -->
	<select id="selectThingListCount" resultType="_int">
		SELECT COUNT(*)
		FROM FUNDING
		WHERE FTYPE='ITEM'
		AND FSTATUS != 'END'
		AND FSTATUS != 'YET' 
	</select>
	
	<!-- 물품후원 펀딩글 리스트 조회 -->
	<select id="selectThingList" resultMap="thingBoardlistSet" parameterType="BoardItem">
		SELECT ROWNUM RNUM, FNO, FTITLE , FCONTENT , FSTARTDATE , FENDDATE, FSTATUS , FWRITER, MNICK , MADDRESS, MFUNDTYPE 
		FROM( SELECT ROWNUM RNUM, FNO, FTITLE , FCONTENT , FSTARTDATE , FENDDATE, FSTATUS , FWRITER, MNICK , MADDRESS, MFUNDTYPE 
      	  	  FROM (SELECT FNO, FTITLE , FCONTENT , FSTARTDATE , FENDDATE, FSTATUS , FWRITER, MNICK , MADDRESS, MFUNDTYPE 
	            	FROM FUNDING F , MEMBER M
		            WHERE M.MNO = F.FWRITER
		            AND F.FTYPE='ITEM'
		            AND F.FSTATUS != 'END'
		            AND F.FSTATUS != 'YET' 
		            ORDER BY F.FNO))
	</select>
	
	<!-- 물품후원 펀딩글 물품종류 및 갯수 리스트 조회 -->
	<select id="selectThingList2" resultMap="thingBoardlistSet" parameterType="BoardItem">
	SELECT ROWNUM RNUM,FNO,INAME, FDVALUE, FD_INO
		FROM( SELECT ROWNUM RNUM,FNO,INAME, FDVALUE, FD_INO
     		  FROM (SELECT F.FNO,FI.INAME, FD.FDVALUE, FD.FD_INO
            		FROM FUNDING F , MEMBER M , FUNDITEM FI, FUNDINGDETAIL FD
                    WHERE M.MNO = F.FWRITER
                    AND FD.FD_INO = FI.INO
                    AND F.FNO = FD.FD_FNO
                    AND F.FTYPE = 'ITEM'
                    AND F.FSTATUS != 'END'
                    AND F.FSTATUS != 'YET'
            		ORDER BY F.FNO))
	</select>
	
	<!-- 물품후원 상세보기 조회 (펀딩글)-->
	<select id="selectThingDetail" resultMap="thingBoardlistSet" parameterType="BoardItem">
		SELECT ROWNUM RNUM, FNO, FTITLE , FCONTENT , FSTARTDATE , FENDDATE, FSTATUS , FWRITER, MNICK , MADDRESS, MFUNDTYPE 
		FROM( SELECT ROWNUM RNUM, FNO, FTITLE , FCONTENT , FSTARTDATE , FENDDATE, FSTATUS , FWRITER, MNICK , MADDRESS, MFUNDTYPE 
		      FROM (SELECT FNO, FTITLE , FCONTENT , FSTARTDATE , FENDDATE, FSTATUS , FWRITER, MNICK , MADDRESS, MFUNDTYPE 
		            FROM FUNDING F , MEMBER M
		            WHERE M.MNO = F.FWRITER
		            AND F.FTYPE='ITEM'
		            AND F.FSTATUS != 'END'
		            AND F.FSTATUS != 'YET' 
		            AND F.FNO = #{fno}))
	</select>
	
	<!-- 물품후원 물품 종류 및 갯수 상세보기 리스트 조회 -->
	<select id="selectThingDetail2" resultMap="thingBoardlistSet" parameterType="BoardItem">
		SELECT ROWNUM RNUM,FNO,INAME, FDVALUE, FD_INO
				FROM( SELECT ROWNUM RNUM,FNO,INAME, FDVALUE, FD_INO
		     		  FROM (SELECT F.FNO,FI.INAME, FD.FDVALUE, FD.FD_INO
		            		FROM FUNDING F , MEMBER M , FUNDITEM FI, FUNDINGDETAIL FD
		                    WHERE M.MNO = F.FWRITER
		                    AND FD.FD_INO = FI.INO
		                    AND F.FNO = FD.FD_FNO
		                    AND F.FTYPE = 'ITEM'
		                    AND F.FSTATUS != 'END'
		                    AND F.FSTATUS != 'YET'
		                    AND F.FNO = #{fno}
		            		ORDER BY F.FNO))
	</select>


	<!-- 크라우드 펀딩 글 작성 -->
	<insert id="insertCloud">
		INSERT INTO FUNDING 
		VALUES(SEQ_FH_NO.NEXTVAL,#{ftype},#{fTitle},#{fContent}, SYSDATE, null, SYSDATE,'YET', #{fValue}, #{fValueType}, #{fWriter})
	</insert>
	
	
	
</mapper>





