<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">

	<resultMap type="com.kh.duri.board.model.vo.board" id="boardResultSet">
	<!-- property=컬럼명, column=필드명    반드시 일치! -->
		<id property="fno" column="FNO"></id>
		<result property="ftype" column="FTYPE"/>
		<result property="fTitle" column="FTITLE"/>
		<result property="fContent" column="FCONTENT"/>
		<result property="fWriteDate" column="FWRITECONTENT"/>
		<result property="fStartDate" column="FSTARTDATE"/>
		<result property="fEndDate" column="FENDDATE"/>
		<result property="fStatus" column="FSTATUS"/>
		<result property="fValue" column="FVALUE"/>
		<result property="fValueType" column="FVALUETYPE"/>
		<result property="fWriter" column="FWRITER"/>

	</resultMap>
	

	<select id="selectMoneyListCount" parameterType="_int">
		SELECT COUNT(*)
		FROM FUNDING
		WHERE FTYPE='MONEY'
	</select>
	
	
	
</mapper>





