<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HappyMember">
	<resultMap type="com.kh.duri.member.model.vo.Member" id="memberResultSet">
	<!-- property=컬럼명, column=필드명    반드시 일치! -->
		<id property="mno" column="MNO"></id>
		<result property="mName" column="MNAME"/>
		<result property="mNickName" column="MNICK"/>
		<result property="mGender" column="MGENDER"/>
		<result property="mPhone" column="MPHONE"/>
		<result property="mid" column="MID"/>
		<result property="mpwd" column="MPWD"/>
		<result property="email" column="MEMAIL"/>
		<result property="mEnrollDate" column="MENROLLDATE"/>
		<result property="mPoint" column="MPOINT"/>
		<result property="mtype" column="MTYPE"/>
		<result property="mFundtype" column="MFUNDTYPE"/>
		<result property="mpr" column="MPR"/>
		<result property="mprNew" column="MPRNEW"/>
		<result property="mBirthDay" column="MBIRTHDAY"/>
		<result property="mAddress" column="MADDRESS"/>
		<result property="mAcceptDate" column="MACCEPTDATE"/>
		<result property="mGoalNum" column="MGOALNUM"/>
		<result property="mStatus" column="MSTATUS"/>
		<result property="mTakeStatus" column="MTAKESTATUS"/>
		<result property="dMoney" column="DHVALUE"/>
      	<result property="cfMoney" column="FHDATE"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.happymember.model.vo.MyDonateItems" id="donateItemsResultSet">
		<id property="ono" column="ONO"></id>
		<result property="o_ino" column="O_INO"/>
		<result property="ovalue" column="OVALUE"/>
		<result property="o_mno" column="O_MNO"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.happymember.model.vo.FundItemList" id="fundItemListResultSet">
		<id property="ino" column="INO"></id>
		<result property="iname" column="INAME"/>
		<result property="iprice" column="IPRICE"/>
	</resultMap>

	<!-- 보유물품 리스트 조회-->
	<select id="selectDonateItemList" resultMap="donateItemsResultSet" parameterType="_int">
		SELECT * 
		FROM OWNITEM 
		WHERE O_MNO=#{mno}
	</select>
	<!-- 후원 가능한 물품 리스트 조회-->
	<select id="selectFundItemList" resultMap="fundItemListResultSet" parameterType="_int">
		SELECT * 
		FROM FUNDITEM
	</select>
	
	
	
</mapper>







