<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HappyMember">
	<resultMap type="com.kh.duri.member.model.vo.Member" id="memberResultSet">
	<!-- property=컬럼명, column=필드명    반드시 일치! -->
		<id property="mno" column="MNO"></id>
		<result property="mName" column="MNAME"/>
		<result property="mNickName" column="MNICK"/>
		<result property="mGender" column="MGENDER"/>
		<result property="mPhone" column="MPHONE"/>
		<result property="mid" column="MID"/>
		<result property="mpwd" column="MPWD"/>
		<result property="email" column="MEMAIL"/>
		<result property="mEnrollDate" column="MENROLLDATE"/>
		<result property="mPoint" column="MPOINT"/>
		<result property="mtype" column="MTYPE"/>
		<result property="mFundtype" column="MFUNDTYPE"/>
		<result property="mpr" column="MPR"/>
		<result property="mprNew" column="MPRNEW"/>
		<result property="mBirthDay" column="MBIRTHDAY"/>
		<result property="mAddress" column="MADDRESS"/>
		<result property="mAcceptDate" column="MACCEPTDATE"/>
		<result property="mGoalNum" column="MGOALNUM"/>
		<result property="mStatus" column="MSTATUS"/>
		<result property="mTakeStatus" column="MTAKESTATUS"/>
		<result property="dMoney" column="DHVALUE"/>
      	<result property="cfMoney" column="FHDATE"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.happymember.model.vo.MyDonateItems" id="donateItemsResultSet">
		<id property="ono" column="ONO"></id>
		<result property="o_ino" column="O_INO"/>
		<result property="ovalue" column="OVALUE"/>
		<result property="o_mno" column="O_MNO"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.happymember.model.vo.FundItemList" id="fundItemListResultSet">
		<id property="ino" column="INO"></id>
		<result property="iname" column="INAME"/>
		<result property="iprice" column="IPRICE"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.happymember.model.vo.Delivery" id="deliveryResultSet">
		<id property="dno" column="DNO"></id>
		<result property="daddress" column="DADDRESS"/>
		<result property="ddate" column="DDATE"/>
		<result property="dlink" column="DLINK"/>
		<result property="d_mno" column="D_MNO"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.happymember.model.vo.DeliveryDetail" id="deliveryDetailResultSet">
		<id property="ddno" column="DDNO"></id>
		<result property="ddvalue" column="DDVALUE"/>
		<result property="dd_dno" column="DD_DNO"/>
		<result property="dd_ino" column="DD_INO"/>
		<result property="dd_name" column="DD_NAME"/>
		<result property="rnum" column="RNUM"/>
		<result property="dlink" column="DLINK"/>
		<result property="dd_date" column="DDATE"/>
	</resultMap>


	<resultMap type="com.kh.duri.happymember.model.vo.DirectFundHistory" id="happyDirectFundHistoryResultSet">
		<id property="dhno" column="DHNO"></id>
		<result property="dhvalue" column="DHVALUE"/>
		<result property="dhstartdate" column="DHSTARTDATE"/>
		<result property="dhstatus" column="DHSTATUS"/>
		<result property="dhbillingkey" column="DHBILLINGKEY"/>
		<result property="dhvaluetype" column="DHVALUETYPE"/>
		<result property="dh_mno_take" column="DH_MNO_TAKE"/>
		<result property="dh_mno_give" column="DH_MNO_GIVE"/>
		<result property="rnum" column="RNUM"/>
		<result property="dh_name_give" column="DH_NAME_GIVE"/>
		<result property="sum" column="SUM"/>
		<result property="cnt" column="CNT"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.happymember.model.vo.Funding" id="happyFundingResultSet">
		<id property="fno" column="FNO"></id>
		<result property="ftype" column="FTYPE"/>
		<result property="ftitle" column="FTITLE"/>
		<result property="fcontent" column="FCONTENT"/>
		<result property="fwritedate" column="FWRITEDATE"/>
		<result property="fstartdate" column="FSTARTDATE"/>
		<result property="fenddate" column="FENDDATE"/>
		<result property="fleftday" column="FLEFTDAY"/>
		<result property="fstatus" column="FSTATUS"/>
		<result property="fvalue" column="FVALUE"/>
		<result property="fvaluetype" column="FVALUETYPE"/>
		<result property="fwriter" column="FWRITER"/>
		<result property="fitemname" column="FITEMNAME"/>
		<result property="rnum" column="RNUM"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.happymember.model.vo.Qna" id="happyQnaResultSet">
		<id property="qno" column="QNO"></id>
		<result property="qdate" column="QDATE"/>
		<result property="qtitle" column="QTITLE"/>
		<result property="qcontent" column="QCONTENT"/>
		<result property="qanswer" column="QANSWER"/>
		<result property="qwriter" column="QWRITER"/>
		<result property="q_mno" column="Q_MNO"/>
		<result property="rnum" column="RNUM"/>
	</resultMap>
	
	<!-- 보유물품 리스트 조회-->
	<select id="selectDonateItemList" resultMap="donateItemsResultSet" parameterType="_int">
		SELECT * 
		FROM OWNITEM 
		WHERE O_MNO=#{mno}
	</select>
	<!-- 후원 가능한 물품 리스트 조회-->
	<select id="selectFundItemList" resultMap="fundItemListResultSet" parameterType="_int">
		SELECT * 
		FROM FUNDITEM
	</select>
	<!-- 보유물품 수량 업데이트(차감) -->
	<update id="updateItemAmount">
		UPDATE OWNITEM SET OVALUE = OVALUE-#{ovalue} WHERE O_MNO=#{o_mno} AND O_INO=#{o_ino}
	</update>
	<!-- 배송목록에 정보(물품번호, 수량)추가하기 -->
	<insert id="insertDeliveryList">
		INSERT INTO DELIVERY VALUES (SEQ_D_NO.NEXTVAL, #{daddress}, SYSDATE, 'www.naver.com', #{d_mno})
	</insert>
	<!-- 배송목록 상세 정보 추기하기 -->
	<insert id="insertDeliveryDetailList">
		INSERT INTO DELIVERYDETAIL VALUES (SEQ_DD_NO.NEXTVAL, #{ddvalue}, SEQ_D_NO.CURRVAL, #{dd_ino})
	</insert>
	<!-- 배송목록 개수 조회 -->
	<select id="selectDeliveryListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM DELIVERY 
		WHERE D_MNO = #{mno}
	</select>
	<!-- 정기후원 목록 개수 조회 -->
	<select id="selectLongDonateCount" resultType="_int">
		SELECT COUNT(*) 
		FROM DIRECTFUNDHISTORY 
		WHERE DH_MNO_TAKE = #{mno} 
		AND DHSTATUS = 'Y'
	</select>
	<!-- 정기 후원 리스트 조회 -->
	<select id="selectDirectFundList" resultMap="happyDirectFundHistoryResultSet" parameterType="DirectFundHistory">
		SELECT ROWNUM RNUM, DH_NAME_GIVE, DHVALUE, SUM, CNT, DHSTARTDATE 
		FROM (SELECT M.MNAME AS DH_NAME_GIVE, DH.DHVALUE, SUM(DH.DHVALUE) AS SUM, MAX(DHD.DHDCOUNT) AS CNT, DH.DHSTARTDATE 
		FROM DIRECTFUNDHISTORY DH, DIRECTFUNDHISTORYDETAIL DHD, MEMBER M 
		WHERE DH.DH_MNO_GIVE = M.MNO 
		AND DH.DHNO = DHD.DHD_DHNO 
		AND DH.DH_MNO_TAKE = #{mno}
		AND DHSTATUS = 'Y' 
		GROUP BY M.MNAME, DHD.DHD_DHNO, DH.DHSTARTDATE, DH.DHVALUE)
	</select>
	<!-- 배송 현황 목록 조회 -->
	<select id="selectDeliveryList" resultMap="deliveryDetailResultSet" parameterType="DeliveryDetail">
		SELECT ROWNUM RNUM, DD_NAME, DDVALUE, DDATE, DLINK 
		FROM (SELECT F.INAME AS DD_NAME, DD.DDVALUE, D.DDATE, D.DLINK 
		FROM DELIVERYDETAIL DD, FUNDITEM F, DELIVERY D 
		WHERE DD.DD_INO = F.INO 
		AND DD.DD_DNO = D.DNO 
		AND D.D_MNO = #{mno}
		ORDER BY D.DDATE DESC)
	</select>
	<!-- 자기소개 수정 -->
	<update id="updateIntroduce">
		UPDATE MEMBER SET MPRNEW = #{mprNew}
		WHERE MNO = #{mno}
	</update>
	<!-- 물품후원 목록 개수 조회 -->
	<select id="selectItemDonateCount" resultType="_int">
		SELECT COUNT(*) 
		FROM FUNDING 
		WHERE FWRITER = #{mno} 
		AND FTYPE = 'ITEM'
	</select>
	<!-- 물품후원 목록 조회 -->
	<select id="selectItemDonateList" resultMap="happyFundingResultSet" parameterType="Funding">
		SELECT DISTINCT ROWNUM RNUM, FNO, FTITLE, FCONTENT, FITEMNAME, FSTARTDATE, FENDDATE, FSTATUS 
		FROM (SELECT DISTINCT F.FNO, F.FTITLE, F.FCONTENT, 
			(SELECT LISTAGG(CAST(FI2.INAME as varchar2(50)),',') WITHIN GROUP (ORDER BY FD2.FD_FNO) 
			FROM FUNDINGDETAIL FD2 JOIN FUNDITEM FI2 ON(FI2.INO = FD2.FD_INO) 
			WHERE F.FNO = FD2.FD_FNO GROUP BY FD2.FD_FNO) AS FITEMNAME,
			F.FSTARTDATE, F.FENDDATE, F.FSTATUS 
			FROM FUNDING F JOIN FUNDINGDETAIL FD ON(F.FNO=FD.FD_FNO) 
			JOIN FUNDITEM FI ON(FD.FD_INO=FI.INO) 
			WHERE F.FWRITER = #{mno}
			AND FTYPE = 'ITEM' 
			ORDER BY FNO DESC)
		ORDER BY FNO DESC
	</select>
	<!-- 금액후원 목록 개수 조회 -->
	<select id="selectMoneyDonateCount" resultType="_int">
		SELECT COUNT(*) 
		FROM FUNDING
		WHERE FWRITER = #{mno} 
		AND FTYPE = 'MONEY'
	</select>
	<!-- 금액후원 목록 조회 -->
	<select id="selectMoneyDonateList" resultMap="happyFundingResultSet" parameterType="Funding">
		SELECT DISTINCT ROWNUM RNUM, FNO, FTITLE, FCONTENT, FVALUE, FSTARTDATE, FENDDATE, FSTATUS 
		FROM (SELECT FNO, FTITLE, FCONTENT, FVALUE, FSTARTDATE, FENDDATE, FSTATUS 
			FROM FUNDING 
			WHERE FWRITER = #{mno} 
			AND FTYPE = 'MONEY' 
			ORDER BY FNO DESC)
	</select>
	<!-- Q&A 목록 개수 조회 -->
	<select id="selectQnaListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM QNA 
		WHERE QWRITER = 'H' 
		AND Q_MNO = #{mno}
	</select>
</mapper>







