<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Nanum">
 
	<resultMap type="com.kh.duri.member.model.vo.Member" id="memberResultSet">
		<id property="mno" column="MNO"></id>
		<result property="mName" column="MNAME"/>
		<result property="mNickName" column="MNICK"/>
		<result property="mGender" column="MGENDER"/>
		<result property="mPhone" column="MPHONE"/>
		<result property="mid" column="MID"/>
		<result property="mpwd" column="MPWD"/>
		<result property="email" column="MEMAIL"/>
		<result property="mEnrollDate" column="MENROLLDATE"/>
		<result property="mPoint" column="MPOINT"/>
		<result property="mtype" column="MTYPE"/>
		<result property="mFundtype" column="MFUNDTYPE"/>
		<result property="mpr" column="MPR"/>
		<result property="mprNew" column="MPRNEW"/>
		<result property="mBirthDay" column="MBIRTHDAY"/>
		<result property="mAddress" column="MADDRESS"/>
		<result property="mAcceptDate" column="MACCEPTDATE"/>
		<result property="mGoalNum" column="MGOALNUM"/>
		<result property="mStatus" column="MSTATUS"/>
		<result property="mTakeStatus" column="MTAKESTATUS"/>
	</resultMap> 
	
	<resultMap type="com.kh.duri.Nanummember.model.vo.Funding" id="fundingResultSet">
		<id property="fNo" column="FNO"/> 
		<result property="fType" column="FTYPE"/>
		<result property="fTitle" column="FTITLE"/>
		<result property="fContent" column="FCONTENT"/>
		<result property="fWriteDate" column="FWRITEDATE"/>
		<result property="fStartDate" column="FSTARTDATE"/>
		<result property="fEndDate" column="FENDDATE"/>
		<result property="fStatus" column="FSTATUS"/>
		<result property="fValue" column="FVALUE"/>
		<result property="fWriter" column="FWRITER"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.Nanummember.model.vo.FundHistory" id="fundHistoryResultSet">
		<id property="fhNo" column="FHNO"/>
		<result property="fhDate" column="FHDATE"/>
		<result property="fhValue" column="FHVALUE"/>
		<result property="fhFno" column="FH_FNO"/>
		<result property="fhMnoGive" column="FH_MNO_GIVE"/>
	</resultMap>
	<resultMap type="com.kh.duri.Nanummember.model.vo.DirectFundHistory" id="directFundHistoryResultSet">
		<id property="dhNo" column="DHNO"/>
		<result property="dhValue" column="DHVALUE"/>
		<result property="dhStartDate" column="DHSTARTDATE"/>
		<result property="dhStatus" column="DHSTATUS"/>
		<result property="dhMnoTake" column="DH_MNO_TAKE"/>
		<result property="dhMnoGive" column="DH_MNO_GIVE"/>		
	</resultMap>
	<resultMap type="com.kh.duri.Nanummember.model.vo.DirectFundHistoryDetail" id="directFundHistoryDetailResultSet">
		<id property="dhdNo" column="DHDNO"/>
		<result property="dhdDate" column="DHDDATE"/>
		<result property="dhdValue" column="DHDDATE"/>
		<result property="dhdCount" column="DHDCOUNT"/>
		<result property="dhdDhno" column="DHD_DHNO"/>
	</resultMap>
	<resultMap type="com.kh.duri.Nanummember.model.vo.SelectDirectFund" id="directFundResultSet">
		<result property="mNickName" column="nick"/>
		<result property="value" column="value"/>
		<result property="cnt" column="cnt"/>
		<result property="sum" column="sum"/>
	</resultMap>
	<resultMap type="com.kh.duri.Nanummember.model.vo.Letter" id="letterResultSet">
		<id property="leNo" column="LENO"/>
		<result property="leMnoTake" column="LE_MNO_TAKE"/>
		<result property="leMnoGive" column="LE_MNO_GIVE"/>
		<result property="leTitle" column="LETITLE"/>
		<result property="leContent" column="LECONTENT"/>
		<result property="leWriteDate" column="LEWRITEDATE"/>
		<result property="leType" column="LETYPE"/>
		<result property="leStatus" column="LESTATUS"/>
		<result property="mNick" column="MNICK"/>
	</resultMap>
		
	<!-- 금액 크라우드 펀딩 개수 조회 (진행) -->
	<select id="selectMoneyCloundListCount" resultType="_int">
		SELECT COUNT(*)
		FROM FUNDING f, FUNDHISTORY fh
		<![CDATA[
		WHERE f.FNO = fh.FH_FNO and fh.FH_MNO_GIVE = #{mno} and f.fstartdate <= SYSDATE and f.fenddate>= SYSDATE ]]>
        and f.FTYPE= 'MONEY' 
	</select>
	
	<!-- 금액 크라우드 펀딩 조회 (진행) -->
	<select id="selectMoneyCloud" resultMap="fundingResultSet" parameterType="Funding" resultType="list">
		SELECT ROWNUM RNUM, FTITLE , FHVALUE ,FSTATUS, FSTARTDATE , FENDDATE , FHDATE
		FROM(SELECT f.FTITLE , fh.FHVALUE , f.FSTATUS,  f.FSTARTDATE ,f.FENDDATE , fh.FHDATE
		FROM FUNDING f, FUNDHISTORY fh		
		<![CDATA[
		WHERE f.FNO = fh.FH_FNO and fh.FH_MNO_GIVE = #{mno}  and f.FTYPE= 'MONEY' 
			and f.fstartdate <= SYSDATE and f.fenddate >= SYSDATE ]]>
        ORDER BY fh.FHDATE DESC)
	</select> 
	
	<!-- 금액 크라우드 펀딩 개수 조회 (종료) -->
	<select id="selectMoneyCloundListCount2" resultType="_int">
		SELECT COUNT(*)
		FROM FUNDING f, FUNDHISTORY fh
		<![CDATA[
		WHERE f.FNO = fh.FH_FNO and fh.FH_MNO_GIVE = #{mno} and f.fenddate < SYSDATE ]]>
        and f.FTYPE= 'MONEY' 
	</select>
	
	<!-- 금액 크라우드 펀딩 조회 (진행) -->
	<select id="selectMoneyCloud2" resultMap="fundingResultSet" parameterType="Funding" resultType="list">
		SELECT ROWNUM RNUM, FTITLE , FHVALUE ,FSTATUS, FSTARTDATE , FENDDATE , FHDATE
		FROM(SELECT f.FTITLE , fh.FHVALUE , f.FSTATUS,  f.FSTARTDATE ,f.FENDDATE , fh.FHDATE
		FROM FUNDING f, FUNDHISTORY fh		
		<![CDATA[
		WHERE f.FNO = fh.FH_FNO and fh.FH_MNO_GIVE = #{mno}  and f.FTYPE= 'MONEY' 
			and f.fenddate < SYSDATE ]]>
        ORDER BY fh.FHDATE DESC)
	</select> 
	
	
	
	<!-- 정기후원 개수 조회 (진행) -->
	<select id="selectDirectFundCount" resultType="_int">
		SELECT COUNT(*)
		FROM(
		SELECT  M.MNICK , MAX(DH.DHVALUE) , COUNT(DHD.DHDCOUNT), SUM(DH.DHVALUE) 
		FROM Member M, DIRECTFUNDHISTORY DH, DIRECTFUNDHISTORYDETAIL DHD
		WHERE DH.DHSTATUS = 'Y'  AND DH.DHNO = DHD.DHD_DHNO AND DH.DH_MNO_GIVE = #{mno} AND 
		    DH.DH_MNO_TAKE = M.MNO
		GROUP BY M.MNICK)
	</select>	
	<!-- 정기후원  조회 (진행)-->
	<select id="selectDirectFund" resultMap="directFundResultSet" parameterType="SelectDirectFund" resultType="list">
		SELECT ROWNUM RNUM, nick, value, cnt, sum
		FROM( SELECT  M.MNICK as nick, MAX(DH.DHVALUE) as value, COUNT(DHD.DHDCOUNT) as cnt, SUM(DH.DHVALUE) as sum 
				FROM Member M, DIRECTFUNDHISTORY DH, DIRECTFUNDHISTORYDETAIL DHD
				WHERE DH.DHSTATUS = 'Y'  AND DH.DHNO = DHD.DHD_DHNO AND DH.DH_MNO_GIVE = #{mno} AND 
				    DH.DH_MNO_TAKE = M.MNO
				GROUP BY M.MNICK	)
	</select>
	<!-- 정기후원 개수 조회 (종료) -->
	<select id="selectDirectFundCount2" resultType="_int">
		SELECT COUNT(*)
		FROM(
		SELECT  M.MNICK , MAX(DH.DHVALUE) , COUNT(DHD.DHDCOUNT), SUM(DH.DHVALUE) 
		FROM Member M, DIRECTFUNDHISTORY DH, DIRECTFUNDHISTORYDETAIL DHD
		WHERE DH.DHSTATUS = 'N'  AND DH.DHNO = DHD.DHD_DHNO AND DH.DH_MNO_GIVE = #{mno} AND 
		    DH.DH_MNO_TAKE = M.MNO
		GROUP BY M.MNICK)
	</select>
	<!-- 정기후원  조회 (진행)-->
	<select id="selectDirectFund2" resultMap="directFundResultSet" parameterType="SelectDirectFund" resultType="list">
		SELECT ROWNUM RNUM, nick, value, cnt, sum
		FROM( SELECT  M.MNICK as nick, MAX(DH.DHVALUE) as value, COUNT(DHD.DHDCOUNT) as cnt, SUM(DH.DHVALUE) as sum 
				FROM Member M, DIRECTFUNDHISTORY DH, DIRECTFUNDHISTORYDETAIL DHD
				WHERE DH.DHSTATUS = 'N'  AND DH.DHNO = DHD.DHD_DHNO AND DH.DH_MNO_GIVE = #{mno} AND 
				    DH.DH_MNO_TAKE = M.MNO
				GROUP BY M.MNICK	)
	</select>
	<!-- 정기 감사편지 개수 조회 (진행)-->
  	<select id="selectDirectLetterCount" resultType="_int">
  		SELECT COUNT(*)
		FROM LETTER L, MEMBER M
		WHERE LESTATUS = 'Y' AND LETYPE = 2 AND L.LE_MNO_GIVE = #{mno} AND L.LE_MNO_TAKE = M.MNO
  	</select>
  	<!-- 정기 감사편지 조회 (진행)-->
  	<select id="selectDirectLetter" resultMap="letterResultSet" parameterType="Letter" resultType="list">
  		SELECT ROWNUM RNUM, MNICK, LETITLE, LEWRITEDATE
		FROM(
		SELECT M.MNICK, L.LETITLE, L.LEWRITEDATE
		FROM LETTER L, MEMBER M
		WHERE  LESTATUS = 'Y' AND LETYPE = 2 AND L.LE_MNO_GIVE = #{mno} AND
		L.LE_MNO_TAKE = M.MNO
		ORDER BY L.LEWRITEDATE DESC)
  	</select>
  
 </mapper>
  