<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Nanum">
 
	<resultMap type="com.kh.duri.member.model.vo.Member" id="memberResultSet">
		<id property="mno" column="MNO"></id>
		<result property="mName" column="MNAME"/>
		<result property="mNickName" column="MNICK"/>
		<result property="mGender" column="MGENDER"/>
		<result property="mPhone" column="MPHONE"/>
		<result property="mid" column="MID"/>
		<result property="mpwd" column="MPWD"/> 
		<result property="email" column="MEMAIL"/>
		<result property="mEnrollDate" column="MENROLLDATE"/>
		<result property="mPoint" column="MPOINT"/>
		<result property="mtype" column="MTYPE"/>
		<result property="mFundtype" column="MFUNDTYPE"/>
		<result property="mpr" column="MPR"/>
		<result property="mprNew" column="MPRNEW"/>
		<result property="mBirthDay" column="MBIRTHDAY"/>
		<result property="mAddress" column="MADDRESS"/>
		<result property="mAcceptDate" column="MACCEPTDATE"/>
		<result property="mGoalNum" column="MGOALNUM"/>
		<result property="mStatus" column="MSTATUS"/>
		<result property="mTakeStatus" column="MTAKESTATUS"/>
	</resultMap> 
	
	<resultMap type="com.kh.duri.Nanummember.model.vo.Funding" id="fundingResultSet">
		<id property="fNo" column="FNO"/> 
		<result property="fType" column="FTYPE"/>
		<result property="fTitle" column="FTITLE"/>
		<result property="fContent" column="FCONTENT"/>
		<result property="fWriteDate" column="FWRITEDATE"/>
		<result property="fStartDate" column="FSTARTDATE"/>
		<result property="fEndDate" column="FENDDATE"/>
		<result property="fStatus" column="FSTATUS"/>
		<result property="fValue" column="FVALUE"/>
		<result property="fWriter" column="FWRITER"/>
		<result property="iName" column="INAME"/>
		
	</resultMap>
	
	<resultMap type="com.kh.duri.Nanummember.model.vo.FundHistory" id="fundHistoryResultSet">
		<id property="fhNo" column="FHNO"/>
		<result property="fhDate" column="FHDATE"/>
		<result property="fhValue" column="FHVALUE"/>
		<result property="fhFno" column="FH_FNO"/>
		<result property="fhMnoGive" column="FH_MNO_GIVE"/>
	</resultMap>
	<resultMap type="com.kh.duri.Nanummember.model.vo.DirectFundHistory" id="directFundHistoryResultSet">
		<id property="dhNo" column="DHNO"/>
		<result property="dhValue" column="DHVALUE"/>
		<result property="dhStartDate" column="DHSTARTDATE"/>
		<result property="dhStatus" column="DHSTATUS"/>
		<result property="dhMnoTake" column="DH_MNO_TAKE"/>
		<result property="dhMnoGive" column="DH_MNO_GIVE"/>		
	</resultMap>
	<resultMap type="com.kh.duri.Nanummember.model.vo.DirectFundHistoryDetail" id="directFundHistoryDetailResultSet">
		<id property="dhdNo" column="DHDNO"/>
		<result property="dhdDate" column="DHDDATE"/>
		<result property="dhdValue" column="DHDDATE"/>
		<result property="dhdCount" column="DHDCOUNT"/>
		<result property="dhdDhno" column="DHD_DHNO"/>
	</resultMap>
	<resultMap type="com.kh.duri.Nanummember.model.vo.SelectDirectFund" id="directFundResultSet">
		<result property="mNickName" column="nick"/>
		<result property="value" column="value"/>
		<result property="cnt" column="cnt"/>
		<result property="sum" column="sum"/>
		<result property="dhdDate" column="DHDDATE"/>
		<result property="mNo" column="MNO"/>
	</resultMap>
	<resultMap type="com.kh.duri.Nanummember.model.vo.Letter" id="letterResultSet">
		<id property="leNo" column="LENO"/>
		<result property="leMnoTake" column="LE_MNO_TAKE"/>
		<result property="leMnoGive" column="LE_MNO_GIVE"/>
		<result property="leTitle" column="LETITLE"/>
		<result property="leContent" column="LECONTENT"/>
		<result property="leWriteDate" column="LEWRITEDATE"/>
		<result property="leType" column="LETYPE"/>
		<result property="leStatus" column="LESTATUS"/>
		<result property="mNick" column="MNICK"/>
	</resultMap>
	<resultMap type="com.kh.duri.Nanummember.model.vo.FundInterest" id="fundInterestResultSet">
		<id property="flNo" column="FINO"/>
		<result property="flDate" column="FIDATE"/>
		<result property="flStatus" column="FISTATUS"/>
		<result property="flType" column="FITYPE"/>
		<result property="flMno" column="FI_MNO"/>
		<result property="flFno" column="FI_FNO"/>
		<result property="flMnoTake" column="FI_MNO_TAKE"/>
		<result property="mNick" column="MNICK"/>
		<result property="mpr" column="MPR"/>
		<result property="fTitle" column="FTITLE"/>
		<result property="fNo" column="FNO" />
		<result property="mNo" column="MNO"/>
	</resultMap>
	<resultMap type="com.kh.duri.Nanummember.model.vo.FundItem" id="fundItemResultSet">
		<id property="iNo" column="INO"/>
		<result property="iName" column="INAME"/>
		<result property="iPrice" column="IPRICE"/>
		<result property="fNo" column="FNO"/> 
	</resultMap>	
	<resultMap type="com.kh.duri.Nanummember.model.vo.QnA" id="QnAResultSet">
		<id property="qNo" column="QNO"/>
		<result property="qDate" column="QDATE"/>
		<result property="qTitle" column="QTITLE"/>
		<result property="qContent" column="QCONTENT"/>
		<result property="qAnswer" column="QANSWER"/>
		<result property="qWriter" column="QWRITER"/>
		<result property="q_mNo" column="Q_MNO"/>
		<result property="mNick" column="MNICK"/>
	</resultMap>
		
	<!-- 금액 크라우드 펀딩 개수 조회 (진행) -->
	<select id="selectMoneyCloundListCount" resultType="_int">
		SELECT COUNT(*)
		FROM FUNDING f, FUNDHISTORY fh
		<![CDATA[
		WHERE f.FNO = fh.FH_FNO and fh.FH_MNO_GIVE = #{mno} and f.fstartdate <= SYSDATE and f.fenddate>= SYSDATE ]]>
        and f.FTYPE= 'MONEY' 
	</select>
	
	<!-- 금액 크라우드 펀딩 조회 (진행) -->
	<select id="selectMoneyCloud" resultMap="fundingResultSet" parameterType="Funding" resultType="list">
		SELECT ROWNUM RNUM, FTITLE , FHVALUE ,FSTATUS, FSTARTDATE , FENDDATE , FHDATE, FNO
		FROM(SELECT f.FTITLE , fh.FHVALUE , f.FSTATUS,  f.FSTARTDATE ,f.FENDDATE , fh.FHDATE , f.FNO
		FROM FUNDING f, FUNDHISTORY fh		
		<![CDATA[
		WHERE f.FNO = fh.FH_FNO and fh.FH_MNO_GIVE = #{mno}  and f.FTYPE= 'MONEY' 
			and f.fstartdate <= SYSDATE and f.fenddate >= SYSDATE ]]>
        ORDER BY fh.FHDATE DESC)
	</select> 
	
	<!-- 금액 크라우드 펀딩 개수 조회 (종료) -->
	<select id="selectEndMoneyCloundListCount" resultType="_int">
		SELECT COUNT(*)
		FROM FUNDING f, FUNDHISTORY fh
		<![CDATA[
		WHERE f.FNO = fh.FH_FNO and fh.FH_MNO_GIVE = #{mno} and f.fenddate < SYSDATE ]]>
        and f.FTYPE= 'MONEY' 
	</select>
	
	<!-- 금액 크라우드 펀딩 조회 (종료) -->
	<select id="selectEndMoneyClound" resultMap="fundingResultSet" parameterType="Funding" resultType="list">
		SELECT ROWNUM RNUM, FTITLE , FHVALUE ,FSTATUS, FSTARTDATE , FENDDATE , FHDATE, FNO
		FROM(SELECT f.FTITLE , fh.FHVALUE , f.FSTATUS,  f.FSTARTDATE ,f.FENDDATE , fh.FHDATE, f.FNO
		FROM FUNDING f, FUNDHISTORY fh		
		<![CDATA[
		WHERE f.FNO = fh.FH_FNO and fh.FH_MNO_GIVE = #{mno}  and f.FTYPE= 'MONEY' and f.fenddate < SYSDATE ]]>
        ORDER BY fh.FHDATE DESC)
	</select> 
	
	<!-- 물품 크라우드 펀딩 개수 조회 (진행) -->
	<select id="selectItemCloundListCount" resultType="_int">
		SELECT COUNT(*)
		FROM FUNDING f, FUNDHISTORY fh
		<![CDATA[
		WHERE f.FNO = fh.FH_FNO and fh.FH_MNO_GIVE = #{mno} and f.fstartdate <= SYSDATE and f.fenddate>= SYSDATE 
		and f.FTYPE= 'ITEM' ]]>
	</select>
	
	<!-- 물품 크라우드 펀딩  조회 (진행) -->
	<select id="selectItemCloud" resultMap="fundingResultSet" parameterType="Funding" resultType="list">
		SELECT ROWNUM RNUM, FNO, FTITLE , FHVALUE ,FSTATUS, FSTARTDATE , FENDDATE , FHDATE, INAME
		FROM(SELECT f.fno, f.FTITLE , fh.FHVALUE , f.FSTATUS,  f.FSTARTDATE ,f.FENDDATE , fh.FHDATE, FI.INAME
		FROM 
		FUNDING f JOIN FUNDHISTORY FH ON(F.FNO=FH.FH_FNO)
		JOIN FUNDHISTORYDETAIL FHD ON(FHD.FHD_FHNO=FH.FHNO)
		JOIN FUNDITEM FI ON (FI.INO=FHD.FHD_INO)
		<![CDATA[
		WHERE  fh.FH_MNO_GIVE = #{mno}  and f.FTYPE= 'ITEM' and f.fstartdate <= SYSDATE and f.fenddate >= SYSDATE ]]>
		ORDER BY FH.FHDATE DESC)
	</select>	
	<!-- 물품 크라우드 펀딩 개수 조회 (종료)  -->
	<select id="selectEndItemCloundListCount" resultType="_int">
		SELECT COUNT(*)
		FROM FUNDING f, FUNDHISTORY fh
		<![CDATA[
		WHERE f.FNO = fh.FH_FNO and fh.FH_MNO_GIVE = #{mno}  AND f.fenddate < SYSDATE ]]>
		and f.FTYPE= 'ITEM'
	</select>
	<!-- 물품 크라우드 펀딩  조회 (종료) -->
	<select id="selectEndItemCloud" resultMap="fundingResultSet" parameterType="Funding" resultType="list">
		SELECT ROWNUM RNUM, FNO, FTITLE , FHVALUE ,FSTATUS, FSTARTDATE , FENDDATE , FHDATE, INAME
		FROM(SELECT f.fno, f.FTITLE , fh.FHVALUE , f.FSTATUS,  f.FSTARTDATE ,f.FENDDATE , fh.FHDATE, FI.INAME
		FROM 
		FUNDING f JOIN FUNDHISTORY FH ON(F.FNO=FH.FH_FNO)
		JOIN FUNDHISTORYDETAIL FHD ON(FHD.FHD_FHNO=FH.FHNO)
		JOIN FUNDITEM FI ON (FI.INO=FHD.FHD_INO)
		<![CDATA[
		WHERE  fh.FH_MNO_GIVE = #{mno} and f.FTYPE= 'ITEM' and f.fenddate < SYSDATE ]]>
		ORDER BY FH.FHDATE DESC)
	</select>
	<!-- 정기후원 개수 조회 (진행) -->
	<select id="selectDirectFundCount" resultType="_int">
		SELECT COUNT(*)
		FROM(
		SELECT  M.MNICK , MAX(DH.DHVALUE) , COUNT(DHD.DHDCOUNT), SUM(DH.DHVALUE) 
		FROM Member M, DIRECTFUNDHISTORY DH, DIRECTFUNDHISTORYDETAIL DHD
		WHERE DH.DHSTATUS = 'Y'  AND DH.DHNO = DHD.DHD_DHNO AND DH.DH_MNO_GIVE = #{mno} AND  DH.DH_MNO_TAKE = M.MNO
		GROUP BY M.MNICK)
	</select>	
	<!-- 정기후원  조회 (진행)-->
	<select id="selectDirectFund" resultMap="directFundResultSet" parameterType="SelectDirectFund" resultType="list">
		SELECT ROWNUM RNUM, nick, value, cnt, a*cnt as sum ,DHDDATE, MNO
		FROM( 
		SELECT  M.MNICK as nick, MAX(DH.DHVALUE) as value, MAX(DHD.DHDCOUNT) as cnt, SUM(DH.DHVALUE) as a , DHD.DHDDATE, M.MNO
		FROM Member M, DIRECTFUNDHISTORY DH, DIRECTFUNDHISTORYDETAIL DHD
		WHERE DH.DHSTATUS = 'Y'  AND DH.DHNO = DHD.DHD_DHNO AND DH.DH_MNO_GIVE = #{mno} AND DH.DH_MNO_TAKE = M.MNO
		GROUP BY M.MNICK, DH.DHVALUE, DHD.DHDDATE, M.MNO )
	</select>
	<!-- 정기후원 개수 조회 (종료) -->
	<select id="selectDirectFundCount2" resultType="_int">
		SELECT COUNT(*)
		FROM(
		SELECT  M.MNICK , MAX(DH.DHVALUE) , COUNT(DHD.DHDCOUNT), SUM(DH.DHVALUE) 
		FROM Member M, DIRECTFUNDHISTORY DH, DIRECTFUNDHISTORYDETAIL DHD
		WHERE DH.DHSTATUS = 'N'  AND DH.DHNO = DHD.DHD_DHNO AND DH.DH_MNO_GIVE = #{mno} AND 
		    DH.DH_MNO_TAKE = M.MNO
		GROUP BY M.MNICK)
	</select>
	<!-- 정기후원  조회 (종료)-->
	<select id="selectDirectFund2" resultMap="directFundResultSet" parameterType="SelectDirectFund" resultType="list">
		SELECT ROWNUM RNUM, nick, value, cnt, a*cnt as sum ,DHDDATE, MNO
		FROM( 
		SELECT  M.MNICK as nick, MAX(DH.DHVALUE) as value, MAX(DHD.DHDCOUNT) as cnt, SUM(DH.DHVALUE) as a , DHD.DHDDATE, M.MNO
		FROM Member M, DIRECTFUNDHISTORY DH, DIRECTFUNDHISTORYDETAIL DHD
		WHERE DH.DHSTATUS = 'N'  AND DH.DHNO = DHD.DHD_DHNO AND DH.DH_MNO_GIVE = #{mno} AND DH.DH_MNO_TAKE = M.MNO
		GROUP BY M.MNICK, DH.DHVALUE, DHD.DHDDATE, M.MNO )
	</select>
	<!-- 정기 감사편지 개수 조회 (진행)-->
  	<select id="selectDirectLetterCount" resultType="_int">
  		SELECT COUNT(*)
		FROM LETTER L, MEMBER M
		WHERE LESTATUS = 'Y' AND LETYPE = 1 AND L.LE_MNO_GIVE = #{mno} AND L.LE_MNO_TAKE = M.MNO
  	</select>
  	<!-- 정기 감사편지 조회 (진행)-->
  	<select id="selectDirectLetter" resultMap="letterResultSet" parameterType="Letter" resultType="list">
  		SELECT ROWNUM RNUM, MNICK, LETITLE, LEWRITEDATE, LENO
		FROM(
		SELECT M.MNICK, L.LETITLE, L.LEWRITEDATE, L.LENO
		FROM LETTER L, MEMBER M
		WHERE  LESTATUS = 'Y' AND LETYPE = 1 AND L.LE_MNO_GIVE = #{mno} AND
		L.LE_MNO_TAKE = M.MNO
		ORDER BY L.LEWRITEDATE DESC)
  	</select>
  	<!-- 정기 감사편지 개수 조회 (종료)-->
  	<select id="selectEndDirectLetterCount" resultType="_int">
  		SELECT COUNT(*)
		FROM LETTER L, MEMBER M , DIRECTFUNDHISTORY DF
		WHERE DF.DHSTATUS='N' AND LESTATUS = 'Y' AND LETYPE = 1 AND L.LE_MNO_GIVE = #{mno} AND DF.DH_MNO_TAKE = L.LE_MNO_TAKE
		AND L.LE_MNO_TAKE = M.MNO
  	</select>
  	<!-- 정기 감사편지 조회 (종료) -->
  	<select id="selectEndDirectLetter"  resultMap="letterResultSet" parameterType="Letter" resultType="list">
  		SELECT ROWNUM RNUM, MNICK, LETITLE, LEWRITEDATE, LENO
		FROM(
		SELECT M.MNICK, L.LETITLE, L.LEWRITEDATE , L.LENO
		FROM LETTER L, MEMBER M,  DIRECTFUNDHISTORY DF
		WHERE  LESTATUS = 'Y' AND LETYPE = 1 AND L.LE_MNO_GIVE = #{mno} AND
		L.LE_MNO_TAKE = M.MNO AND DF.DH_MNO_GIVE = L.LE_MNO_GIVE AND DF.DHSTATUS='N' AND DF.DH_MNO_TAKE = L.LE_MNO_TAKE 
		ORDER BY L.LEWRITEDATE DESC)
  	</select> 	
  	<!-- 금액 크라우드 감사편지 개수 조회 -->
  	<select id="selectMoneyCloudLetterCount" resultType="_int">
  		SELECT COUNT(*)
		FROM LETTER L, MEMBER M
		WHERE LESTATUS = 'Y' AND LETYPE = 2 AND L.LE_MNO_GIVE = #{mno} AND L.LE_MNO_TAKE = M.MNO
  	</select>
  	<!-- 금액 크라우드 감사편지  조회  -->
  	<select id="selectMoneyCloudLetter" resultMap="letterResultSet" parameterType="Letter" resultType="list">
  		SELECT ROWNUM RNUM, MNICK, LETITLE, LEWRITEDATE, LENO
		FROM(
		SELECT M.MNICK, L.LETITLE, L.LEWRITEDATE, L.LENO
		FROM LETTER L, MEMBER M
		WHERE  LESTATUS = 'Y' AND LETYPE = 2 AND L.LE_MNO_GIVE = #{mno}  AND
		L.LE_MNO_TAKE = M.MNO
		ORDER BY L.LEWRITEDATE DESC)
  	</select> 
  	<!-- 물품 크라우드 감사편지 개수 조회  -->
  	<select id="selectItemCloudLetterCount"  resultType="_int">
  		SELECT COUNT(*)
		FROM LETTER L, MEMBER M
		WHERE LESTATUS = 'Y' AND LETYPE = 3 AND L.LE_MNO_GIVE = #{mno} AND L.LE_MNO_TAKE = M.MNO
  	</select>
  	<!--  물품 크라우드 감사편지  조회 -->
  	<select id="selectItemCloudLetter" resultMap="letterResultSet" parameterType="Letter" resultType="list">
  		SELECT ROWNUM RNUM, MNICK, LETITLE, LEWRITEDATE, LENO
		FROM(
		SELECT M.MNICK, L.LETITLE, L.LEWRITEDATE, L.LENO
		FROM LETTER L, MEMBER M
		WHERE  LESTATUS = 'Y' AND LETYPE = 3 AND L.LE_MNO_GIVE = #{mno}  AND
		L.LE_MNO_TAKE = M.MNO
		ORDER BY L.LEWRITEDATE DESC)
  	</select>
  	
  	<!-- 감사편지 상세 조회-->
  	<select id="selectLetterDetail" resultMap="letterResultSet" parameterType="Letter" resultType="list">
  		SELECT *
		FROM LETTER L, MEMBER M
		WHERE LENO = #{leNo} AND LESTATUS = 'Y' AND L.LE_MNO_TAKE = M.MNO 
  	</select>
  	
  	 <!-- 찜한 정기 후원 개수 조회 -->
  	<select id="selectLikeDirectCount" resultType="_int">
  		SELECT COUNT(*) 
		FROM FUNDINTEREST FI, MEMBER M
		WHERE FI.FISTATUS = 'Y' AND FI.FI_MNO = #{mno} AND FI.FI_MNO_TAKE = M.MNO
  	</select>
  	<!-- 찜한 정기 후원  조회 -->
  	<select id="selectLikeDirect" resultMap="fundInterestResultSet" parameterType="FundInterest" resultType="list">
  		SELECT ROWNUM RNUM ,MNICK, MPR ,FIDATE, FI_MNO_TAKE, MNO
		FROM(
		SELECT M.MNICK, M.MPR ,FI.FIDATE, FI.FI_MNO_TAKE , M.MNO
		FROM FUNDINTEREST FI, MEMBER M 
		WHERE FI.FISTATUS = 'Y' AND FI.FI_MNO = #{mno}  AND FI.FI_MNO_TAKE = M.MNO AND FI.FITYPE = 1 
		ORDER BY FI.FIDATE)
  	</select>
  	<!-- 찜한 금액 크라우딩 개수 조회 -->
  	<select id="selectLikeMoneyCount" resultType="_int">
  		SELECT COUNT(*)
		FROM FUNDINTEREST FI, MEMBER M 
		WHERE FI.FISTATUS = 'Y' AND FI.FI_MNO =  #{mno}  AND FI.FI_MNO = M.MNO AND FI.FITYPE = 2 
		ORDER BY FI.FIDATE
  	</select>
  	<!-- 찜한 금액 크라우드 펀딩  조회 -->
  	<select id="selectLikeMoneyCloud" resultMap="fundInterestResultSet" parameterType="FundInterest" resultType="list">
  		SELECT ROWNUM RNUM, MNICK , FTITLE, FIDATE, FI_FNO, FNO
		FROM(
		SELECT  M.MNICK ,F.FTITLE, FI.FIDATE , FI.FI_FNO, F.FNO
		FROM FUNDINTEREST FI, MEMBER M , FUNDING F
		WHERE FI.FISTATUS = 'Y' AND FI.FI_MNO = #{mno}  AND FI.FITYPE = 2  AND F.FNO = FI.FI_FNO AND F.FWRITER = M.MNO
		ORDER BY FI.FIDATE )
  	</select>
  	<!-- 찜한 물품 크라우딩 개수 조회 -->
  	<select id="selectLikeItemCount" resultType="_int">
  		SELECT COUNT(*)
		FROM FUNDINTEREST FI, MEMBER M 
		WHERE FI.FISTATUS = 'Y' AND FI.FI_MNO =  #{mno}  AND FI.FI_MNO = M.MNO AND FI.FITYPE = 3
		ORDER BY FI.FIDATE
  	</select>
  	<!-- 찜한 물품 크라우딩 조회 -->
  	<select id="selectLikeItemCloud" resultMap="fundInterestResultSet" parameterType="FundInterest" resultType="list">
  		SELECT ROWNUM RNUM, MNICK , FTITLE, FIDATE, FI_FNO, FNO
		FROM(
		SELECT  M.MNICK ,F.FTITLE, FI.FIDATE , FI.FI_FNO, F.FNO
		FROM FUNDINTEREST FI, MEMBER M , FUNDING F
		WHERE FI.FISTATUS = 'Y' AND FI.FI_MNO = #{mno}  AND FI.FITYPE = 3  AND F.FNO = FI.FI_FNO AND F.FWRITER = M.MNO
		ORDER BY FI.FIDATE )
  	</select>
  	<!-- QnA 개수 조회 -->
  	<select id="QnAListCount" resultType="_int">
  		SELECT COUNT(*)
		FROM QNA
		WHERE QWRITER = 'N'
  	</select>
  	<!-- QnA 조회 -->
  	<select id="QnAList" resultMap="QnAResultSet" parameterType="NanumQnA" resultType="list">
  		SELECT ROWNUM RNUM, QNO,QDATE,QTITLE,QCONTENT,QANSWER,QWRITER, MNICK
		FROM(
		SELECT Q.QNO,Q.QDATE,Q.QTITLE,Q.QCONTENT,Q.QANSWER,Q.QWRITER, M.MNICK
		FROM QNA Q JOIN MEMBER M ON(Q.Q_MNO = M.MNO)
		WHERE QWRITER = 'N' 
		ORDER BY QDATE DESC, QANSWER NULLS FIRST ) 
  	</select>
  	<!-- QnA 상세 조회  -->
  	<select id="QnADetail" resultMap="QnAResultSet" parameterType="NanumQnA" resultType="list">
  		SELECT *
		FROM QNA Q JOIN MEMBER M ON(Q.Q_MNO = M.MNO)
		WHERE QWRITER = 'N' AND Q.QNO = #{qNo}
  	</select>
  	<!-- QnA 삽입 -->
  	<insert id="insertQnA">
  		INSERT INTO QNA VALUES(SEQ_Q_NO.NEXTVAL, SYSDATE,#{qTitle},#{qContent},DEFAULT,'N',#{q_mNo})
  	</insert>
  	<!-- QnA 삭제 -->
  	<delete id="deletetQnA">
  		DELETE FROM QNA WHERE QNO = #{qNo}
  	</delete>
	<!-- 회원정보 수정 -->
	<update id="updateMember">
		UPDATE Member 
		SET MNICK = #{mNickName} , MPHONE = #{mPhone} , MPWD = #{mpwd} 
		WHERE MNO = #{mno} 
	</update>
	
 </mapper>
  