<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Point">
	<resultMap type="com.kh.duri.payment.model.vo.Point" id="pointResultSet">
		<id property="pNo" column="PNO"></id>
		<result property="pType" column="PTYPE"/>
		<result property="pValue" column="PVALUE"/>
		<result property="pDate" column="PDATE"/>
		<result property="pReason" column="PREASON"/>
		<result property="p_mNo" column="P_MNO"/>
		<result property="p_pyNo" column="P_PYNO"/>
		<result property="p_dhdNo" column="P_DHDNO"/>
		<result property="p_rNo" column="P_RNO"/>
		<result property="p_fhNo" column="P_FHNO"/>
		<result property="p_f_m" column="MNAME1"/>
		<result property="p_f_title" column="FTITLE"/>
		<result property="p_d_m" column="MNAME2"/>
		<result property="p_d_c" column="DHDCOUNT"/>
		<result property="rnum" column="RNUM"/> 
	</resultMap>
	
	<resultMap type="com.kh.duri.payment.model.vo.DonateReceipt" id="donateReceiptResultSet">
		<id property="drNo" column="DRNO"></id>
		<result property="drApplyDate" column="DRAPPLYDATE"/>
		<result property="drDonateDate" column="DRDONATEDATE"/>
		<result property="drValue" column="DRVALUE"/>
		<result property="dr_mNo" column="MNAME"/>
		<result property="rnum" column="RNUM"/> 
	</resultMap>
	
	<resultMap type="com.kh.duri.payment.model.vo.Refund" id="refundResultSet">
		<id property="rNo" column="RNO"></id>
		<result property="rBank" column="RBANK"/>
		<result property="rAccount" column="RACCOUNT"/>
		<result property="r_mNo" column="R_MNO"/>
		<result property="rValue" column="RVALUE"/>
		<result property="rDate" column="RDATE"/>
		<result property="rStatus" column="RSTATUS"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.member.model.vo.Member" id="memberResultSet">
		<id property="mno" column="MNO"></id>
		<result property="mName" column="MNAME"/>
		<result property="mNickName" column="MNICK"/>
		<result property="mGender" column="MGENDER"/>
		<result property="mPhone" column="MPHONE"/>
		<result property="mid" column="MID"/>
		<result property="mpwd" column="MPWD"/>
		<result property="email" column="MEMAIL"/>
		<result property="mEnrollDate" column="MENROLLDATE"/>
		<result property="mPoint" column="MPOINT"/>
		<result property="mtype" column="MTYPE"/>
		<result property="mFundtype" column="MFUNDTYPE"/>
		<result property="mpr" column="MPR"/>
		<result property="mprNew" column="MPRNEW"/>
		<result property="mBirthDay" column="MBIRTHDAY"/>
		<result property="mAddress" column="MADDRESS"/>
		<result property="mAcceptDate" column="MACCEPTDATE"/>
		<result property="mGoalNum" column="MGOALNUM"/>
		<result property="mStatus" column="MSTATUS"/>
		<result property="mTakeStatus" column="MTAKESTATUS"/>
		<result property="dMoney" column="DHVALUE"/>
      	<result property="cfMoney" column="FHVALUE"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.payment.model.vo.Payment" id="paymentResultSet">
		<id property="pyNo" column="PYNO"></id>
		<result property="pyCardNum" column="PYCARDNUM"/>
		<result property="pyPrice" column="PYPRICE"/>
		<result property="pyDate" column="PYDATE"/>
		<result property="py_mNo" column="PY_MNO"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.payment.model.vo.DirectFundHist" id="directFundHistResultSet">
		<id property="dhNo" column="DHNO"></id>
		<result property="dh_mNo_take" column="DH_MNO_TAKE"/>
		<result property="dh_mNo_give" column="DH_MNO_GIVE"/>
		<result property="dhValue" column="DHVALUE"/>
		<result property="dhType" column="DHVALUETYPE"/>
		<result property="dhBilling" column="DHBILLINGKEY"/>
		<result property="dhImpUid" column="DHIMPUID"/>
		<result property="dhStartDate" column="DHSTARTDATE"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.board.model.vo.Board" id="boardResultSet">
		<id property="fno" column="FNO"></id>
		<result property="ftype" column="FTYPE"/>
		<result property="fTitle" column="FTITLE"/>
		<result property="fContent" column="FCONTENT"/>
		<result property="fStartDate" column="FSTARTDATE"/>
		<result property="fEndDate" column="FENDDATE"/>
		<result property="fStatus" column="FSTATUS"/>
		<result property="fValue" column="FVALUE"/>
		<result property="fValueType" column="FVALUETYPE"/>
		<result property="fWriter" column="FWRITER"/>
		<result property="mNick" column="MNICK"/>
		<result property="mFundType" column="MFUNDTYPE"/>
		<result property="mAddress" column="MADDRESS"/>
	</resultMap>
	
	
	<!-- 나눔두리 - 포인트 이력 수 세기 -->
	<select id="selectPointListCount" resultType="_int">
		SELECT COUNT(*)
		FROM POINT
		WHERE P_MNO = #{mno}
	</select>
	<!-- 나눔두리 - 기간별 포인트 이력 수 세기 -->
	<select id="selectSearchPointListCount" resultType="_int">
		SELECT COUNT(*)
		FROM POINT
		<![CDATA[
		WHERE P_MNO=#{mno}
		AND TO_DATE(#{mPhone}, 'YYYY-MM-DD') < PDATE 
		AND PDATE < TO_DATE(#{mAddress}, 'YYYY-MM-DD')]]>
	</select>
	
	<!-- 나눔두리 - 포인트 이력 select -->
	<select id="selectPointHistory" resultMap="pointResultSet" parameterType="Point">
		SELECT ROWNUM RNUM, PNO, PTYPE, PVALUE, PDATE, PREASON, P_MNO, P_PYNO, P_DHDNO, P_RNO, P_FHNO, FTITLE, MNAME1, MNAME2, DHDCOUNT
		FROM (SELECT PNO, PTYPE, PVALUE, PDATE, PREASON, P_MNO, P_PYNO, P_DHDNO, P_RNO, P_FHNO, FTITLE, M1.MNAME AS MNAME1, M2.MNAME AS MNAME2, DHD.DHDCOUNT
		FROM POINT P
		LEFT JOIN FUNDHISTORY FH ON(P.P_FHNO = FH.FHNO)
		LEFT JOIN FUNDING F ON (FH.FH_FNO = F.FNO)
		LEFT JOIN MEMBER M1 ON (M1.MNO = F.FWRITER)
		LEFT JOIN DIRECTFUNDHISTORYDETAIL DHD ON (P.P_DHDNO = DHD.DHDNO)
		LEFT JOIN DIRECTFUNDHISTORY DH ON (DH.DHNO = DHD.DHD_DHNO)
		LEFT JOIN MEMBER M2 ON (M2.MNO = DH.DH_MNO_TAKE)
		WHERE P_MNO=#{mno}
		ORDER BY PDATE DESC)
	</select>
	
	<!-- 나눔두리 - 기간별 포인트 이력 select -->
	<select id="searchPointHistory" resultMap="pointResultSet" parameterType="Point">
		SELECT ROWNUM RNUM, PNO, PTYPE, PVALUE, PDATE, PREASON, P_MNO, P_PYNO, P_DHDNO, P_RNO, P_FHNO, FTITLE, MNAME1, MNAME2, DHDCOUNT
		FROM (SELECT PNO, PTYPE, PVALUE, PDATE, PREASON, P_MNO, P_PYNO, P_DHDNO, P_RNO, P_FHNO, FTITLE, M1.MNAME AS MNAME1, M2.MNAME AS MNAME2, DHD.DHDCOUNT
		FROM POINT P
		LEFT JOIN FUNDHISTORY FH ON(P.P_FHNO = FH.FHNO)
		LEFT JOIN FUNDING F ON (FH.FH_FNO = F.FNO)
		LEFT JOIN MEMBER M1 ON (M1.MNO = F.FWRITER)
		LEFT JOIN DIRECTFUNDHISTORYDETAIL DHD ON (P.P_DHDNO = DHD.DHDNO)
		LEFT JOIN DIRECTFUNDHISTORY DH ON (DH.DHNO = DHD.DHD_DHNO)
		LEFT JOIN MEMBER M2 ON (M2.MNO = DH.DH_MNO_TAKE)
		<![CDATA[
		WHERE P_MNO=#{mno}
		AND TO_DATE(#{mPhone}, 'YYYY-MM-DD') < PDATE 
		AND PDATE < TO_DATE(#{mAddress}, 'YYYY-MM-DD')]]>
		ORDER BY PDATE DESC)
	</select>
	
	<!-- 나눔두리 - 기부금 영수증 발급내역 수 세기 -->
	<select id="selectReceiptListCount" resultType="_int">
		SELECT COUNT(*)
		FROM DONATERECEIPT
		WHERE DR_MNO = #{mno}
	</select>
	<!-- 나눔두리 - 기간별 기부금 영수증 발급내역 수 세기 -->
	<select id="selectSearchReceiptListCount" resultType="_int">
		SELECT COUNT(*)
		FROM DONATERECEIPT DR
		<![CDATA[
		WHERE DR.DR_MNO=#{mno}
		AND TO_DATE(#{mPhone}, 'YYYY-MM-DD') < DR.DRAPPLYDATE 
		AND DR.DRAPPLYDATE < TO_DATE(#{mAddress}, 'YYYY-MM-DD')]]>
	</select>
	
	<!-- 나눔두리 - 기부금 영수증 발급내역 select -->
	<select id="donateReceiptHistory" resultMap="donateReceiptResultSet" parameterType="DonateReceipt">
		SELECT ROWNUM RNUM, DRNO, DRAPPLYDATE, DRDONATEDATE, DRVALUE, DR_MNO, MNAME
		FROM (SELECT *
        FROM DONATERECEIPT DR
        JOIN MEMBER M ON (M.MNO = DR.DR_MNO)
        WHERE DR.DR_MNO=#{mno}
        ORDER BY DRAPPLYDATE DESC)
	</select>
	
	<!-- 나눔두리 - 기간별 기부금 영수증 발급내역 select -->
	<select id="searchDonateReceipt" resultMap="donateReceiptResultSet" parameterType="DonateReceipt">
       SELECT ROWNUM RNUM, DRNO, DRAPPLYDATE, DRDONATEDATE, DRVALUE, DR_MNO, MNAME
		FROM ( SELECT *
		FROM DONATERECEIPT DR
		JOIN MEMBER M ON (M.MNO = DR.DR_MNO)
		<![CDATA[
		WHERE DR.DR_MNO=#{mno}
		AND TO_DATE(#{mPhone}, 'YYYY-MM-DD') < DR.DRAPPLYDATE 
		AND DR.DRAPPLYDATE < TO_DATE(#{mAddress}, 'YYYY-MM-DD')]]>
		ORDER BY DRAPPLYDATE DESC )
	</select>
	
	
	<!-- 행복두리 - 환급내역 수 세기 -->
	<select id="selectRefundListCount" resultType="_int">
		SELECT COUNT(*)
		FROM REFUND
		WHERE R_MNO = #{mno}
	</select>
	
	<!-- 나눔,행복두리 - 환급내역 select -->
	<select id="selectRefundList" resultMap="refundResultSet" parameterType="Refund">
		SELECT *
		FROM REFUND
		WHERE R_MNO = #{mno}
		ORDER BY RDATE DESC
	</select>
	
	<!-- 나눔,행복두리 - 환급 insert -->
	<insert id = "insertRefund">
		INSERT INTO REFUND VALUES (SEQ_R_NO.NEXTVAL, #{rBank}, #{rAccount}, #{rName},#{r_mNo}, #{rValue}, SYSDATE, DEFAULT)
	</insert>
	
	<!-- 환급 테이블 현재 SEQ_R_NO 값 구하기 -->
	<select id="selectRefundCurVal" resultType="_int">
		SELECT SEQ_R_NO.CURRVAL FROM DUAL
	</select>
	
	<!-- 나눔,행복두리 - 환급 포인트 차감 -->
	<update id = "updateRefundPoint">
		UPDATE MEMBER SET MPOINT = MPOINT-#{rValue} WHERE MNO=#{r_mNo}
	</update>

	<!-- 나눔,행복두리 - 포인트 환급 후 포인트 내역에 추가 -->	
	<insert id = "insertPointHistoryRefund">
		INSERT INTO POINT VALUES (SEQ_P_NO.NEXTVAL, 'U', #{rValue}, SYSDATE, '환급', #{r_mNo}, null, null, #{rNo}, null)
	</insert>
	
	<!-- 회원번호로 행복두리 로그인 유저 정보 가져오기 -->
	<select id="loginHaCheck" resultMap="memberResultSet" parameterType="Member">
		SELECT MNO, MNAME, MNICK ,MGENDER ,MPHONE ,MID ,MPWD ,MEMAIL 
		,MENROLLDATE ,MPOINT ,MTYPE ,MFUNDTYPE ,MPR ,MPRNEW ,MBIRTHDAY 
		,MADDRESS ,MACCEPTDATE ,MGOALNUM ,MSTATUS ,MTAKESTATUS 
        ,(SELECT SUM(DHVALUE) FROM MEMBER M  INNER JOIN DIRECTFUNDHISTORY DI ON(M.MNO = DI.DH_MNO_TAKE) 
        	WHERE M.MID=#{mid}) AS DHVALUE
        ,(SELECT SUM(FHVALUE) FROM MEMBER M JOIN FUNDHISTORY FH ON(FH.FH_MNO_GIVE = M.MNO) JOIN FUNDING F ON(F.FNO = FH.FH_FNO) 
        	WHERE F.FWRITER=(SELECT MNO FROM MEMBER WHERE MID=#{mid}))AS FHVALUE
		FROM MEMBER
		WHERE MNO=#{mno}
		AND MTYPE='H'
	</select>
	
	<!-- 회원번호로 나눔두리 로그인 유저 정보 가져오기 -->
	<select id="loginNaCheck" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER
		WHERE MNO=#{mno}
		AND MTYPE='N'
	</select>
	
	<!-- 나눔두리 - 결제 insert -->
	<insert id = "insertPayment">
		INSERT INTO PAYMENT VALUES (SEQ_PY_NO.NEXTVAL, #{pyCardNum}, #{pyPrice}, SYSDATE, #{py_mNo})
	</insert>
	
	<!-- 결제 테이블 현재 SEQ_PY_NO 값 구하기 -->
	<select id="selectPaymentCurVal" resultType="_int">
		SELECT SEQ_PY_NO.CURRVAL FROM DUAL
	</select>
	
	<!-- 나눔두리 - 결제 포인트 증가 -->
	<update id = "updatePaymentPoint">
		UPDATE MEMBER SET MPOINT = MPOINT+#{pyPrice} WHERE MNO=#{py_mNo}
	</update>

	<!-- 나눔두리 - 결제 후 포인트 내역에 추가 -->	
	<insert id = "insertPointHistoryPayment">
		INSERT INTO POINT VALUES (SEQ_P_NO.NEXTVAL, 'A', #{pyPrice}, SYSDATE, '결제', #{py_mNo}, #{pyNo}, null, null, null)
	</insert>
	
	<!-- 나눔두리 - 정기후원 정보 insert -->
	<insert id = "insertDirectFundHist">
		INSERT INTO DIRECTFUNDHISTORY VALUES (SEQ_DH_NO.NEXTVAL, #{dhValue}, SYSDATE, DEFAULT, #{dhBilling}, #{dhImpUid}, #{dhType}, #{dh_mNo_take}, #{dh_mNo_give})
	</insert>
	
	<!-- 정기후원 테이블 현재 SEQ_DH_NO 값 구하기 -->
	<select id="selectDirectFundCurVal" resultType="_int">
		SELECT SEQ_DH_NO.CURRVAL FROM DUAL
	</select>
	
	<!-- 나눔두리 - 정기후원 1차 내역 insert -->
	<insert id = "insertDirectFundDetail">
		INSERT INTO DIRECTFUNDHISTORYDETAIL VALUES (SEQ_DHD_NO.NEXTVAL, SYSDATE, #{dhValue}, 1, #{dhNo})
	</insert>
	
	<!-- 정기후원 테이블 현재 SEQ_DHD_NO 값 구하기 -->
	<select id="selectDirectFundDetailCurVal" resultType="_int">
		SELECT SEQ_DHD_NO.CURRVAL FROM DUAL
	</select>
	
	<!-- 나눔두리 - Point이력에 정기후원 정보 입력하기 -->	
	<insert id = "insertPointDirect">
		INSERT INTO POINT VALUES (SEQ_P_NO.NEXTVAL, 'U', #{dhValue}, SYSDATE, '정기후원', #{dh_mNo_give}, null, #{dhNo}, null, null)
	</insert>
	
	<!-- 행복두리 - Point 업뎃하기 -->
	<update id = "updateDirectPoint">
		UPDATE MEMBER SET MPOINT = MPOINT+#{dhValue} WHERE MNO=#{dh_mNo_take}
	</update>
	
	<!-- 나눔두리 - 다음 정기결제를 위한 merchant_id 값 가져오기 -->
	<select id = "selectDirectFundId" resultMap="directFundHistResultSet" parameterType="DirectFundHist">
		SELECT * FROM DIRECTFUNDHISTORY WHERE DHIMPUID = #{ dhImpUid }
	</select>
	
	
	<!-- 금액 후원 결제페이지 - 펀딩정보 select -->
	<select id = "selectFundMoney" resultMap="boardResultSet" parameterType="Board">
		SELECT F.FNO, F.FTITLE, F.FVALUE, F.FSTARTDATE, F.FENDDATE, F.FCONTENT,F.FVALUETYPE, F.FSTATUS, M.MNICK, M.MFUNDTYPE, M.MADDRESS, F.FWRITER
		FROM FUNDING F
		JOIN MEMBER M ON (M.MNO = F.FWRITER)
		WHERE FNO = #{fno}
	</select>
	
	<!-- 금액후원 내역 insert -->
	<insert id = "insertFundMoneyHistory">
		INSERT INTO FUNDHISTORY VALUES(SEQ_FH_NO.NEXTVAL, SYSDATE, #{fhValue}, #{fhFno}, #{fhMnoGive})
	</insert>
	
	<!-- 기부금영수증 추가 - 금액후원 -->
	<insert id = "insertDonateReceipt">
		INSERT INTO DONATERECEIPT VALUES(SEQ_DR_NO.NEXTVAL, SYSDATE, SYSDATE, #{fhValue}, #{fhMnoGive})
	</insert>
	
	<!-- 포인트 update (행복두리) -->
	<update id = "updateMoneyhPoint">
		UPDATE MEMBER SET MPOINT = MPOINT+#{mPoint} WHERE MNO=#{mno} AND MTYPE ='H'
	</update>
	
	<!-- 포인트 update (나눔두리) -->
	<update id = "updateMoneynPoint">
		UPDATE MEMBER SET MPOINT = MPOINT-#{mPoint} WHERE MNO=#{mno} AND MTYPE = 'N'
	</update>
	
	<!-- 포인트 이력 -나눔두리 insert -->
	<insert id = "insertFundMoneynPoint">
		INSERT INTO POINT VALUES (SEQ_P_NO.NEXTVAL, 'U', #{fhValue}, SYSDATE, '펀딩', #{fhMnoGive}, null, null, null, #{fhNo})
	</insert>
	
	<!-- 포인트 이력 -행복두리 insert -->
	<insert id = "insertFundMoneyhPoint">
		INSERT INTO POINT VALUES (SEQ_P_NO.NEXTVAL, 'A', #{fhValue}, SYSDATE, '펀딩', #{fhMnoGive}, null, null, null, #{fhNo})
	</insert>
	
	<!-- 현재 SEQ_FH_NO 값 구하기 -->
	<select id="selectFundHistCurVal" resultType="_int">
		SELECT SEQ_FH_NO.CURRVAL FROM DUAL
	</select>
	
	
</mapper>