<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Point">
	<resultMap type="com.kh.duri.payment.model.vo.Point" id="pointResultSet">
		<id property="pNo" column="PNO"></id>
		<result property="pType" column="PTYPE"/>
		<result property="pValue" column="PVALUE"/>
		<result property="pDate" column="PDATE"/>
		<result property="pReason" column="PREASON"/>
		<result property="p_mNo" column="P_MNO"/>
		<result property="p_pyNo" column="P_PYNO"/>
		<result property="p_dhdNo" column="P_DHDNO"/>
		<result property="p_rNo" column="P_RNO"/>
		<result property="p_fhNo" column="P_FHNO"/>
		<result property="p_f_m" column="MNAME1"/>
		<result property="p_f_title" column="FTITLE"/>
		<result property="p_d_m" column="MNAME2"/>
		<result property="p_d_c" column="DHDCOUNT"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.payment.model.vo.DonateReceipt" id="donateReceiptResultSet">
		<id property="drNo" column="DRNO"></id>
		<result property="drRegistNum" column="DRREGISTNUM"/>
		<result property="drApplyDate" column="DRAPPLYDATE"/>
		<result property="drDonateDate" column="DRDONATEDATE"/>
		<result property="drValue" column="DRVALUE"/>
		<result property="dr_mNo" column="MNAME"/>
	</resultMap>
	
	<resultMap type="com.kh.duri.payment.model.vo.Refund" id="refundResultSet">
		<id property="rNo" column="RNO"></id>
		<result property="rBank" column="RBANK"/>
		<result property="rAccount" column="RACCOUNT"/>
		<result property="r_mNo" column="R_MNO"/>
		<result property="rValue" column="RVALUE"/>
		<result property="rDate" column="RDATE"/>
		<result property="rStatus" column="RSTATUS"/>
	</resultMap>
	
	<!-- 포인트 이력 select -->
	<select id="selectPointHistory" resultMap="pointResultSet" parameterType="Point">
		SELECT PNO, PTYPE, PVALUE, PDATE, PREASON, P_MNO, P_PYNO, P_DHDNO, P_RNO, P_FHNO, FTITLE, M1.MNAME AS MNAME1, M2.MNAME AS MNAME2, DHD.DHDCOUNT
		FROM POINT P
		LEFT JOIN FUNDHISTORY FH ON(P.P_FHNO = FH.FHNO)
		LEFT JOIN FUNDING F ON (FH.FH_FNO = F.FNO)
		LEFT JOIN MEMBER M1 ON (M1.MNO = F.FWRITER)
		LEFT JOIN DIRECTFUNDHISTORYDETAIL DHD ON (P.P_DHDNO = DHD.DHDNO)
		LEFT JOIN DIRECTFUNDHISTORY DH ON (DH.DHNO = DHD.DHD_DHNO)
		LEFT JOIN MEMBER M2 ON (M2.MNO = DH.DH_MNO_TAKE)
		WHERE P_MNO= #{mno}
		ORDER BY PDATE DESC
	</select>
	
	<!-- 기부금 영수증 발급내역 select -->
	<select id="donateReceiptHistory" resultMap="donateReceiptResultSet" parameterType="DonateReceipt">
		SELECT *
		FROM DONATERECEIPT
		JOIN MEMBER  ON (MEMBER.MNO = DONATERECEIPT.DR_MNO)
		WHERE DR_MNO= #{mno}
		ORDER BY DRAPPLYDATE DESC
	</select>
	
	<!-- 행복두리 - 환급내역 select -->
	<select id="selectRefundList" resultMap="refundResultSet" parameterType="Refund">
		SELECT *
		FROM REFUND
		WHERE R_MNO = #{mno}
		ORDER BY RDATE DESC
	</select>
	
	
	
	
</mapper>