<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
	<typeAliases>
		<typeAlias type="com.kh.duri.member.model.vo.Member" alias="Member"/>
	
		<typeAlias type="com.kh.duri.admin.model.vo.Donatelist" alias="Donatelist"/>	
		<typeAlias type="com.kh.duri.admin.model.vo.RefundList" alias="RefundList"/>	
		<typeAlias type="com.kh.duri.admin.model.vo.adminMember" alias="adminMember"/>	
		<typeAlias type="com.kh.duri.admin.model.vo.adminFundingList" alias="adminFundingList"/>	
		<typeAlias type="com.kh.duri.admin.model.vo.adminDirectList" alias="adminDirectList"/>	
		<typeAlias type="com.kh.duri.admin.model.vo.adminFundingHistoryList" alias="adminFundingHistoryList"/>	
		
		<typeAlias type="com.kh.duri.Nanummember.model.vo.Funding" alias="Funding"/>  	
		<typeAlias type="com.kh.duri.Nanummember.model.vo.FundHistory" alias="FundHistory"/>  
		<typeAlias type="com.kh.duri.Nanummember.model.vo.DirectFundHistory" alias="DirectFundHistory"/> 
		<typeAlias type="com.kh.duri.Nanummember.model.vo.DirectFundHistoryDetail" alias="DirectFundHistoryDetail"/> 
		<typeAlias type="com.kh.duri.Nanummember.model.vo.SelectDirectFund" alias="SelectDirectFund"/> 
		<typeAlias type="com.kh.duri.Nanummember.model.vo.Letter" alias="Letter"/> 
		<typeAlias type="com.kh.duri.board.model.vo.Board" alias="Board"/>	
		<typeAlias type="com.kh.duri.board.model.vo.BoardItem" alias="BoardItem"/>	
		<typeAlias type="com.kh.duri.Nanummember.model.vo.FundInterest" alias="FundInterest"/> 
		<typeAlias type="com.kh.duri.Nanummember.model.vo.FundItem" alias="NanumFundItem"/> 
		
		<typeAlias type="com.kh.duri.happymember.model.vo.DeliveryDetail" alias="DeliveryDetail"/>
		<typeAlias type="com.kh.duri.happymember.model.vo.MyDonateItems" alias="MyDonateItems"/>
		<typeAlias type="com.kh.duri.happymember.model.vo.FundItemList" alias="FundItemList"/>
		<typeAlias type="com.kh.duri.happymember.model.vo.Delivery" alias="Delivery"/>
		<typeAlias type="com.kh.duri.happymember.model.vo.DirectFundHistory" alias="HappyDirectFundHistory"/>
		<typeAlias type="com.kh.duri.happymember.model.vo.Funding" alias="HappyFunding"/> 
		<typeAlias type="com.kh.duri.happymember.model.vo.Qna" alias="HappyQna"/> 
		
		<typeAlias type="com.kh.duri.payment.model.vo.Point" alias="Point"/>	
		<typeAlias type="com.kh.duri.payment.model.vo.DonateReceipt" alias="DonateReceipt"/>
		<typeAlias type="com.kh.duri.payment.model.vo.Refund" alias="Refund"/>	
		<typeAlias type="com.kh.duri.payment.model.vo.DirectFundHist" alias="DirectFundHist"/>	<!-- DirectFundHist :정기후원 (190216) -->
		<typeAlias type="com.kh.duri.payment.model.vo.BoardItemValue" alias="BoardItemValue"/>
		<typeAlias type="com.kh.duri.payment.model.vo.Payment" alias="Payment"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/point-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
		<mapper resource="/mappers/happy-mapper.xml"/>
		<mapper resource="/mappers/nanum-mapper.xml"/> 
	</mappers>
	
	

</configuration>




  
  
  
  
  
  
  
  