<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
	<typeAliases>
		<typeAlias type="com.kh.duri.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.duri.member.model.vo.Member" alias="HappyMember"/>	
		<typeAlias type="com.kh.duri.payment.model.vo.Point" alias="Point"/>	
		<typeAlias type="com.kh.duri.payment.model.vo.DonateReceipt" alias="DonateReceipt"/>
		<typeAlias type="com.kh.duri.payment.model.vo.Refund" alias="Refund"/>	
		<typeAlias type="com.kh.duri.admin.model.vo.Donatelist" alias="Donatelist"/>	
	</typeAliases>
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/point-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
		<mapper resource="/mappers/happy-mapper.xml"/>
	</mappers>
	
	

</configuration>




  
  
  
  
  
  
  
  