@charset "utf-8";




#Wrap {position:relative; width:100%; background:repeat-x 0 0;}


header {position:relative; height:115px;}
header h1 {position:absolute; top:10px; left:0; right:0; text-align:center; z-index:2}
header h1 a {font-weight:bold; font-size:30px; color:#3c456b;}
header .gnbMenu {overflow:hidden; height:45px; padding-top:70px; z-index:-1;}
header .gnbMenu li {float:left; width:14.25%; background-color:#e0e0d8;}
header .gnbMenu li:first-child {border-left:2px solid #f9f1e0; margin-left:15%;}
header .gnbMenu li a {display:block; text-align:center; height:45px; line-height:45px; font-size:16px; font-weight:bold; color:#403643; border-right:2px solid #f9f1e0;}
header .gnbMenu li a:hover {background-color: #c8c2b6;}

footer {width:100%; text-align:center; background:#e5e5e5; border-top:1px solid #b1b1b1; padding:20px 0;}


#container {position:relative; width:1200px; margin:0 auto;}
#container .tit {font-size:20px; font-weight:bold; margin-top:34px; height:41px; line-height:41px;}
#container .contBox {padding-bottom:50px;}
